[2017-07-17 15:02] vermorel opened #2121 "BrainScript: BS.Constants.Range for a constant tensor containing a range of integers"
I am facing a problem where the network needs a mask of 0s and 1s starting with _k_ ones and followed by _n-k_ zeroes, where _k_ is is provided as part of the input sequence, and where _n_ is a constant of the problem.

By introducing a `BS.Constants.Range`, which takes a single argument, obtaining the mask is straightforward:

    R = BS.Constants.Range(n) # 1-dimensional constant tensor containi

[2017-07-17 15:31] vermorel opened #2122 "Miss-classified page: Project a 1D input of dim ..."
The page https://docs.microsoft.com/en-us/cognitive-toolkit/project-a-1D-input-of-dim-inputDim-to-a-1D-output-of-dim-outputDim appears in the BrainScript section, while it's Python materials.

[2017-07-17 15:34] cha-zhang commented on #1985
Yes, there is a planned release 7/30. Our iteration plans are now public:
https://github.com/Microsoft/CNTK/wiki/Iteration-Plans

I'm closing this issue now. If the new release still has this issue, please reopen.

[2017-07-17 15:34] #1985 closed

[2017-07-17 16:06] mahilleb-msft commented on #2116
Thanks @sniceper. Please re-open this issue, if the problem persists with Anaconda.

Best, Mark

[2017-07-17 16:06] #2116 closed

[2017-07-17 16:16] mahilleb-msft commented on #898
Binary drop installation does it's own unblocking since a couple versions back.
I.e., if you follow https://docs.microsoft.com/en-us/cognitive-toolkit/Setup-Windows-Binary-Script unblocking should not be required today anymore (in the past, a separate "unblocking" steps, as you note it, was part of the documentation). Please note that currently, only our Nuget packages for evaluation are digitally

[2017-07-17 16:22] mahilleb-msft commented on #1850
Most of the time, due to the asynchronous nature of launching/completing CUDA kernels, the problem is not with the call (here: memcpy), but with earlier kernel launches. Normally, it's also a code / library bug, that should be fixed; and retrying would be bad for perf.
Could you share a repro, and what environment you're in?

[2017-07-17 19:23] KeDengMS commented on #2122
Thanks for reporting this, we'll look into it.

[2017-07-17 20:29] tomekjaworski opened #2123 "How to generate a confusion matrix using the Python API?"
Hi,
I could not find any way to calculate confusion matrix for a trained model. Is there a way to do it?

[2017-07-17 22:08] elevir commented on #2075
@raaaar, sorry for the long answer.

There is header file.
[code]

CPP file

[code]

And part from main.cpp

[code]

[2017-07-17 22:19] elevir commented on #2075
Oh, sorry, there is excess argument in method of my implemetation. :(

[2017-07-17 22:19] #2075 closed

[2017-07-17 22:23] arniwesth opened #2124 "Adding atrous/dilated convolution?"
Is there a roadmap for adding atrous/dilated convolution to CNTK?

It seems to be on the TODO list: https://www.cntk.ai/pythondocs/_modules/cntk/layers/layers.html

[2017-07-17 23:02] KeDengMS commented on #2118
Can you share your script that does not work right? sequence.last should be the way to get the last output of LSTM, and it has nothing to do with input data format as long as the input is sequence. The [CNTK debug manual](https://github.com/Microsoft/CNTK/blob/master/Manual/Manual_How_to_debug.ipynb) may help you.

[2017-07-17 23:22] KeDengMS commented on #2111
Note that python dimensions are reversed in C++ because python/numpy is row-major while C++ is column major. So the matrix in C++ is 12x10=120 columns for each sample, with echo column of dimension of 20000 in sparse. Where does the 1200 come from and what is you intention? Sharing a script that triggers the error might help us understand your problem better.

[2017-07-18 00:38] KeDengMS commented on #2124
Yes it's coming with CuDNN6. Please stay tuned.

[2017-07-18 00:43] KeDengMS commented on #2123
Can you use scikit [sklearn.metrics.confusion_matrix](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html) to compute confusion matrix?

[2017-07-18 00:52] KeDengMS commented on #2121
Unfortunately there's no official plan to add new features to BrainScript. You might be able to achieve what you want by running recurrent plus with constant of 1 and init value of 0, but that would be inefficient. This is the main reason why CNTK is switching from BrainScript to Python.

[2017-07-18 00:55] KeDengMS commented on #2119
Please check if your source code is up to date, and clear stale build binaries if needed. This seems to me a mismatch in header and cpp file:

error: identifier "opStableSigmoid" is undefined

[2017-07-18 01:37] ujjwal-researcher opened #2125 "Issues in model evaluation in CNTK"
I am opening this issue because there is very less details available on model evaluation.
During my evaluation I am facing some fundamental issues which I would like to correct.

My basic problems are (Details and outputs are mentioned later in the question) -

a) My evaluation results in the same output for all the images.
b) Despite an top-5 error rate of 7% on  the training set, I am getting 0%

[2017-07-18 02:19] BrendonLynch commented on #2019
didn't work on CentOS with python-only installation,even with openMPI installed

[2017-07-18 03:10] sayanpa commented on #808
Here is a link to the tutorial:
https://docs.microsoft.com/en-us/cognitive-toolkit/how-do-i-train-models-in-brainscript#train-a-dssm-or-a-convolutional-dssm-model. We do not have a python equivalent. Happy to take in contribution.

[2017-07-18 03:10] #808 closed

[2017-07-18 06:48] vermorel commented on #2121
@KeDengMS Thanks a lot for your follow-up. That's really a pity though. Python is a show-stopper from a .NET perspective (see #960). BrainScript is highly manageable from a .NET perspective, and it's an excellent DSL use case.

Can I submit the `Range()` as a pull request? (as a addition to `CNTK.core.bs`)

[2017-07-18 06:58] vermorel opened #2126 "Documentation for BS.Network.Edit()"
The BrainScript function [BS.Network.Edit()](https://docs.microsoft.com/en-us/cognitive-toolkit/BrainScript-Model-Editing) is left completely undocumented. It would be very nice to provide some documentation for this function. Our production use case would very much fit into this pattern. Thanks!

[2017-07-18 13:39] Prasandhmcw opened #2128 "Couldn't find the specified README"
#Hi ,

I am trying to run one of the EndToEndTest - BatchNormalization/Spatial/CNTK on the linux build.
But , am getting an error log stating

I faced a similar problem in Non-Spatial tests and I read the corresponding README and downloaded the necessary DATASETS. But here , am unable to find any folder named "**MISCELLANEOUS**" itself.

The Source code doesn't contain such Folder.
Any leads on ho

[2017-07-18 13:47] ujjwal-researcher commented on #2128
You are probably looking for the following file

https://github.com/Microsoft/CNTK/blob/master/Examples/Image/DataSets/CIFAR-10/README.md

[2017-07-18 14:43] BrendonLynch opened #2129 "install cntk on CentOS 6.8 settled!"
I have installed cntk on CentOS 6.8 systerm successfully, write down the steps :
install cntk according https://docs.microsoft.com/en-us/cognitive-toolkit/Setup-Linux-Python
install Anaconda3 4.1.1 Python for Linux (64-bit).
pip install cntk
make sure install openmpi
sorry ,haven't finished

[2017-07-18 17:23] ujjwal-researcher commented on #2125
The problem was that I was doing mean subtraction and normalization despite the fact that these were embedded inside the model creation. This was causing these operations to get done twice and hence non-sensical results.  I am now closing this issue.

[2017-07-18 17:23] #2125 closed

[2017-07-18 21:26] KeDengMS commented on #2129
Good to know that! I'll close this issue and please feel free to reopen or create a new one if you found anything.

[2017-07-18 21:26] #2129 closed

[2017-07-18 21:33] KeDengMS commented on #2128
Thanks for pointing it out. The error message has been fixed. Please refer to [this](https://docs.microsoft.com/en-us/cognitive-toolkit/how-to-test) to set up CNTK_EXTERNAL_TESTDATA_SOURCE_DIRECTORY to run the test.

[2017-07-18 21:33] #2128 closed

[2017-07-18 21:34] danielsc commented on #960
To be a bit more precise on what I am looking for: we need to prioritize which scenarios we are should enable first and therefore we need to understand what is more important to you. So we want to understand better what problem you want to solve and what algorithms you want to use in .NET.

Here some concrete questions that I would really like to get some answers to -- either directly here, or if

[2017-07-18 21:42] KeDengMS commented on #2121
@vermorel Thanks for offering to add this feature to BrainScript, please send a PR.

BTW, I don't think using BrainScript or Python affects your choices over .NET. You can always train a model with Python and load it into .NET, and even use .NET to generate python code if needed. What we want to deliver is not some ideology, it's just a tool to help people get their job done faster and better. Mac

[2017-07-18 21:48] KeDengMS commented on #2126
Please find a more detailed doc on MEL [here](https://github.com/Microsoft/CNTK/blob/master/Documentation/Documents/Model%20Editing%20Language.md).

[2017-07-18 21:48] #2126 closed

[2017-07-18 21:49] n17s opened #2132 "User defined function used as layer crashes my Python interpreter"
While [helping a user on StackOverflow](https://stackoverflow.com/questions/44565243/how-to-compose-custom-function-cntk) I found that the following code crashes my Python interpreter
[code]

[2017-07-18 23:38] JimSEOW commented on #960
@danielsc

 In my industries, many business problems I like to solve have been pioneered using python and tensorflow. I wish these examples are in .NET so I could integrate them into my .NET projects at client level, instead of cloud. [Just spoke to an IoT expert, the trend is to restrict data to cloud - especially in healthcare, we need .NET AI for client, using e.g. c# and f#].

If we have a Wel

[2017-07-19 00:06] JimSEOW commented on #960
@danielsc
For creating CNTK .NET framework,

could you please evaluate the possibility of using [cppSharp](https://github.com/mono/CppSharp) instead of SWIG. [I believe, once you have set up cppSharp for CNTK, there is no more c# specific SWIG maintenance. Users can easily integrate any Pull Requests for C++ and compile themselves to get the .NET binding that reflects the latest changes to the C++

[2017-07-19 04:18] Prasandhmcw commented on #2128
Thanks @KeDengMS and @ujjwal-researcher .

@ujjwal-researcher Hey can you guide me the path where CNTK_EXTERNAL_TESTDATA_SOURCE_DIRECTORY should be pointing to ?

[2017-07-19 05:05] Prasandhmcw commented on #2128
@KeDengMS I would also suggest to change the path correspondingly in

[]([](https://github.com/Microsoft/CNTK/blob/master/Tests/EndToEndTests/BatchNormalization/Spatial/run-test-common#L12))
&
[](https://github.com/Microsoft/CNTK/blob/master/Tests/EndToEndTests/BatchNormalization/Spatial/run-test-common#L14)

Just a stale path fixing again and a cleaner code.

Thanks.

[2017-07-19 05:20] KeDengMS commented on #2128
@Prasandhmcw Those path in the script cannot be changed. You need to create a folder for CNTK_EXTERNAL_TESTDATA_SOURCE_DIRECTORY, and copy or link the CIFAR data under Image/CIFAR/v0. This is because that in our end-to-end test environment, test data are centralized under one folder.

[2017-07-19 05:23] DabiaoMa opened #2133 "Strided convolution layer with 'sequential = True'"
Are you planning to implement a strided convolution layer with 'sequential = True'?

Like f = C.layers.Convolution((2,2), sequential=True, strides = 2)??

[2017-07-19 06:04] Prasandhmcw commented on #2128
Ok. This being the case , I understand that the path needn't be changed.

For people , who are getting confused with CNTK_EXTERNAL_TESTDATA_SOURCE_DIRECTORY ,
Just create a folder specifically for the ExternalData and the necessary sub-folders , by looking into the test scripts and then copy/link the necessary data under the respective folders.
Dont forget to set the CNTK_EXTERNAL_TESTDATA_SOURCE_

[2017-07-19 08:36] JimSEOW commented on #960
We now have (I hope) at least [on intern contributing to .NET for CNTK](https://www.youtube.com/watch?v=VCmetoNpL4M)

[2017-07-19 10:54] ShagReza opened #2136 "using Convert DBN command"
hi,
in CNTK book, it is mentioned that we can convert a model  trained with
Microsoft dbn.exe tool to cntk format.
I can't find this toolbox ( dbn.exe tool)

[2017-07-19 11:28] ujjwal-researcher opened #2137 "Python API : Validation after every few epochs"
Given a CNN architecture, it is advisable to evaluate the model performance on the validation set after every few epochs (let's say 1). So, in this case the model is trained for an epoch and then validated over the validation set. Then it is again trained on the training set for another epoch and so on and so forth.

This helps in detecting signs of overtraining of the network.

Unfortunately, to

[2017-07-19 14:26] drcrook1 commented on #647
Be great if there were a python version of this.

[2017-07-19 14:48] zpbappi commented on #647
@drcrook1 you can use [this](https://github.com/Microsoft/CNTK/blob/v2.0/Tutorials/NumpyInterop/FeedForwardNet.py) example as reference for generating the data using numpy and [this](https://github.com/Microsoft/CNTK/blob/v2.0/Examples/SequenceClassification/SimpleExample/Python/SequenceClassification.py) example as a reference to use LSTM from python. These examples (and many more) are available

[2017-07-19 16:45] anijain2305 commented on #1675
Hi,

Can you please point me to the commit that fixed this leak?

[2017-07-19 18:51] KeDengMS commented on #2137
Thanks for the suggestion. Please check this [tutorial](https://github.com/Microsoft/CNTK/blob/master/Tutorials/CNTK_200_GuidedTour.ipynb) for cross-validation based training control. You can also refer to the [CrossValidationConfig](https://www.cntk.ai/pythondocs/cntk.train.training_session.html?highlight=crossvalidationconfig#cntk.train.training_session.CrossValidationConfig) API if you are usin

[2017-07-19 18:51] #2137 closed

[2017-07-20 06:07] MihawkHu opened #2139 "Why unused nodes is propagated when decoding?"
Hi,

I meet a problem when doing ASR task using CNTK and Kaldi. There is no Bug and error when training the network, but it exits directly when decoding.  Here is the decode log,
[code]
I tried to debug it step by step and modified the source code of `cntk/Source/ComputationNetworkLib/ComputationNetworkEvaluation.cpp`
I added the DumpNode() function and dumped the nodes name it propagated.
[code]

[2017-07-20 06:25] DabiaoMa opened #2140 "cntk for WGAN-GP"
I am trying to implement WGAN-GP with cntk, but here comes a big difficulty.

Suppose x is an input variable and  F is the discriminator neural network, then first we need to get the gradient over x : ∇x(F) w.r.t. parameters of F.
And then, we need to constrain the gradient ∇x(F), that is, make this term (||∇x(F)|| - 1) a loss.

Would you please tell me how to implement this loss??

Best regards.

[2017-07-20 14:15] ksai14 opened #2142 "BB = BB[sorted_ind, :] IndexError: too many indices for array error"
I run A1_GenerateInputROIs.py
And result ...

1024 683
Calling selective search..
   Number of rois detected using selective search: 835
   Number of rois on grid added: 93360
   Number of rectangles before filtering  = 94195
   Number of rectangles after filtering  = 3594
   Time [ms]: 4415.981000000001
4 5 negative 5.jpg
Calling selective search..
   Number of rois detected using selective searc

[2017-07-20 17:56] duli2012 commented on #2035
Hi, Ujjwal, could you please share your code with us so that we can reproduce the error?
Thanks.

[2017-07-21 02:13] leo603221 opened #2143 "sgd with regularization don't support sparse input?"
I tried the CNTK example WordLMWithSampledSoftmax on cpu and it works fine, but when I add regularization item to sgd , like follows:
[code]
I got errors as follows:
[code]
Where is the problem? I think sgd with regularization don't support sparse input.

[2017-07-21 02:40] ChunHsinWang opened #2144 "Any way to "unfreeze" layers that were once frozen in python?"
For example, I have trained a fully convolutional auto encoder - decoder network. The encoder part was copied with freeze parameter from a pre-trained vgg16 (up until the last convolutional layer), and only update the weights of the decoder parts ( a mirrored version of encoder, with transposed convolution and MaxUnPooling).

After convergence, I would like to fine-tune the whole network since my

[2017-07-21 05:59] nliu86 opened #2145 "How to tune parameters to make converge faster"
The training converged very fast at the beginning, but eventually ground to a halt, moving only very little in the end. Is there any way to tune parameters to speed up training in the end?

Here is the training log:
<img width="1330" alt="trainlog" src="https://user-images.githubusercontent.com/13305896/28450804-808bc642-6d9e-11e7-9095-f8a72182e6ce.png">

Full log:
[trainlog.txt](https://github.co

[2017-07-21 13:02] TianyanZhou opened #2147 "using CNTK in python: counting total states in "label_mapping_file""
Hi~
  When I use the ”HTKMLFDeserializer“ in python to read the "label_mapping_file", it seems that the command line output message "Total (101) state names in state list '..\file_path\file_name'" doesn't match my actual file. There are total 100 states plus a closing empty line in my "label_mapping_file". I also tried different number of states. But the output message is always one state greater

[2017-07-21 15:50] zhijiewang1982 commented on #1892
Has this problem been solved yet? I tried the latest CNTK release 2.0, apparently the cpu version still suffers from the the same problem. This problem is really critical for me, because not everybody uses my code will have access to GPU. Therefore, any update on this problem is really appreciated.

[2017-07-21 16:46] cha-zhang commented on #1892
The MKL integrate went slower than I expected mostly because the person working at Intel is not familiar with CNTK enough. We will try to get this in as soon as possible.

[2017-07-21 17:19] zhijiewang1982 commented on #1892
Thanks a lot. What's the best way for me to get informed if this happens?

On Fri, Jul 21, 2017 at 12:46 PM, Cha Zhang <notifications@github.com>
wrote:

[2017-07-21 17:29] cha-zhang commented on #1892
I’ll keep you updated. If needed, you can always ping me directly view email chazhang@microsoft.com<mailto:chazhang@microsoft.com>.

From: zhijiewang1982 [mailto:notifications@github.com]
Sent: Friday, July 21, 2017 10:20 AM
To: Microsoft/CNTK <CNTK@noreply.github.com>
Cc: Cha Zhang <chazhang@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [Microsoft/CNTK] CNTK convolution_transp

[2017-07-21 18:18] zhijiewang1982 commented on #1892
It will be really appreciated if you can keep me updated. Thanks again.

[2017-07-21 18:18] #1892 closed

[2017-07-21 21:52] jaypaddy commented on #957
I too ran into a similar issue.
"AssertionError: Error: xrel should be <= 1 but is 16.377"
Appreciate guidance.

[2017-07-22 02:19] edwardcho commented on #2043
Finally, I got reasonable predicted results on C#-code that is similar to predicted result on python-code.
I used mean.xml that All values are set to 128. (Using this file, my data-set was trained, evaluated.)
But, still I could not generate xml mean file for our data-set.
(my data-set had evaluated this logic : my data - 128)
Thank you for all.

[2017-07-22 02:19] #2043 closed

[2017-07-22 06:37] JafferWilson opened #2148 "How I can use the CNTK for news summarization?"
I am looking for news paper summarization tool that works on Sequence to Sequence. I want to know how I can apply the CNTK for text/news summarization and what are the datasets needed for training the model?? Is there already trained datasets or model then please do let me know?

[2017-07-22 17:30] pepetko80 opened #2149 "Petko"
I need to interface CNTK (Python) with Kaldi. Unfortunately there is no dedicated reader (such as HTKFeatureDeserializer). Can you suggest a shortcut that does not involve writing my own reader. E.g., use one of the existing readers and modifying the input files as needed.

Thank you!

[2017-07-23 09:27] kyoro1 commented on #2142
Hello, @ksai14 .
As I have same trouble with you, I've rollback the code

[code]
It comes from the history of the repository:
https://github.com/Microsoft/CNTK/commit/9b23b14629bdad54a654640a7cd592e7d164af11

I'm not sure that this is the correct modification, but it might be a kind of walk-through.
Hope it helps you.

[2017-07-23 10:18] kyoro1 commented on #2142
Hello @ksai14
Tentatively, I tried the omission `BB = BB[sorted_ind, :]` from `imdb_data.py`, i.e.

[code]

I got a response, but it was just a walk-through. It may not be true correspondence...

[2017-07-23 21:39] tomekjaworski opened #2150 "ImageDeserializer : Python error while using with no transformations"
Hi,
I'm getting an error while trying to use ImageDeserializer without any transformation. To bypass the problem I'm using scale transformation with same parameters as input images. The following example works only with T.scale uncommented. If transforms is empty, then I getting only this: [https://snag.gy/d3Gs9a.jpg](https://snag.gy/d3Gs9a.jpg)
Using CNTK 2.0 GPU and Python 3.6.1.
[code]
Input fi

[2017-07-23 21:53] tomekjaworski opened #2151 "ImageDeserializer: Unable to get labels from MinibatchSource"
Hi,
I'm unable to get labels from data read from MinibatchSource, it its based on ImageDeserializer. Getting the following error. Same code with CTFDeserializer works fine.
Stack trace:
[code]
Using CNTK 2.0 GPU and Python 3.6.1 x64.

[2017-07-24 07:09] cha-zhang commented on #2145
You should consider reducing the learning rate when training stagnates. You can use a learning rate schedule for that.

[2017-07-24 07:15] cha-zhang commented on #2150
The scale transform is necessary to convert all images to a fixed size. For now you have to have a scale transform if you use image reader.

[2017-07-24 07:17] cha-zhang commented on #2148
We have a tutorial on sequence to sequence:
https://github.com/Microsoft/CNTK/blob/master/Tutorials/CNTK_204_Sequence_To_Sequence.ipynb
Unfortunate we don't have an example for news paper summarization.

[2017-07-24 07:48] wolfma61 commented on #1990
closing - please reopen if you still experience the issue

[2017-07-24 07:48] #1990 closed

[2017-07-24 07:49] wolfma61 commented on #1959
please reopen with a detailed repo scenario if you experience the problem

[2017-07-24 07:49] #1959 closed

[2017-07-24 08:09] JafferWilson commented on #2148
@cha-zhang  Can you help me in modifying the code to make the summarization possible. Its a bit urgent, if you can help.

[2017-07-24 08:25] cha-zhang commented on #2148
I'm sorry without knowing what kind of data you have it's difficult for us to help on this. We don't have a data set that aligns well with what you need.

[2017-07-24 08:27] tomekjaworski commented on #2150
Ok, thanks for explanation!

[2017-07-24 08:29] #2150 closed

[2017-07-24 08:29] tomekjaworski commented on #2151
Sorry, forgot about the test code:

[code]

[2017-07-24 08:40] kyoro1 commented on #2142
This issue is related to [this one](https://github.com/Microsoft/CNTK/issues/2039)

[2017-07-24 08:47] JafferWilson commented on #2148
@cha-zhang Please take any datasets as you like and just let me know the demonstration of how the CNTK works with the text summarization. If you still didn't get what I mean then you can try this dataset: https://drive.google.com/file/d/0B6N7tANPyVeBNmlSX19Ld2xDU1E/view

[2017-07-24 09:59] skynode commented on #2148
Is this not supposed to be on stack overflow? Or Kaggle? @cha-zhang?

[2017-07-24 10:29] kyoro1 commented on #2039
After refreshing repository in CNTK and executing `python A2_RunWithPyModel.py`, I received the following error:

[code]

So, I intentionally rollbacked the method `roipooling` as follows:
[code]

Here's a result

[code]

As you see, the convergence of `loss` is very slow.

Also, I received the same error as the top of this issue.

@pkranen , Did your trial similar to the tutorial result in conver

[2017-07-24 11:47] Pierrick1001 commented on #2119
I am trying to build a new install of CNTK :

make

[code]

"error #2196: routine is both "inline" and "noinline" template <typename T> GOOGLE_ATTRIBUTE_NOINLINE "

[2017-07-24 12:24] wolfma61 commented on #2119
According to this https://docs.microsoft.com/en-us/cognitive-toolkit/Setup-CNTK-on-Linux#protobuf

Protobuf3.1.0 is required. You are on 3.2?
/my-folder/deeplearning/thirdparties/protobuf/install/protobuf-3.2.0/

This page lists our pre-requisites:https://docs.microsoft.com/en-us/cognitive-toolkit/Test-Configurations

Please make sure you followed the steps described here:  https://docs.microsoft.

[2017-07-24 12:24] #2119 closed

[2017-07-24 14:19] cha-zhang commented on #2148
Yes, Stack overflow is a much better place for this kind of questions. GitHub issue is for reporting actual issues with CNTK.

[2017-07-24 14:39] marcinmachura commented on #2151
Try this: data[label_var].as_sequences(label_var)[0]

[2017-07-24 15:16] tomekjaworski commented on #2151
Thanks! Works like a charm.

[2017-07-24 20:21] nliu86 commented on #2145
@cha-zhang Thanks! Aren't moments and rmsprop already taking care of adjusting learning rates automatically? Is this normal behavior that training slows down when it's close to global optimal?

[2017-07-24 20:31] nliu86 commented on #2115
I tried 32-bit and noticed higher utilization of GPU and faster training. But it stops converging nicely as 1-big SGD. I'm wondering if there might be a bug. You can check the values of CrossEntropyWithSoftmax

32-bit:
Finished Epoch[21 of 1001]: [Training] CrossEntropyWithSoftmax = 0.24285071 * 115919101; EvalClassificationError = 0.06698406 * 115919101; totalSamplesSeen = -1860666175; learningRa

[2017-07-24 20:43] cha-zhang commented on #2145
Yes, it's a normal behavior. If you look at the CNTK examples, most of them use learning rate schedules that reduces over epochs.

In the future, please ask similar questions on Stack Overflow since it's about CNTK usage rather than a CNTK issue.

[2017-07-25 02:20] hwchong opened #2155 "Keras and SKLearn Multi-GPU Support on CNTK"
Hello, would anyone have a snippet explaining how to utilise multiple-GPUs to train a DNN using Keras as the front-end? Alternatively if that's not possible, would it be possible to parallelise k-fold cross validation training on multiple GPUs using SKLearn on top of Keras and CNTK?

[2017-07-25 08:36] mikhail-barg opened #2156 "Is it possible to train a CTC model without frame-level phones alignment?"
I've looked though the https://github.com/Microsoft/CNTK/tree/master/Tests/EndToEndTests/Speech/LSTM_CTC_MLF
and built something similar for the purpose of speech recognition. Still it looks like the `ForwardBackward` node requires that labels have same time dimension as features. Which implies that I need to time-align phones to feature frames, which by itself require some other speech recognitio

[2017-07-25 11:01] DHOFM commented on #2107
What happened to the model gallery ? At the moment i only see a blank page

![grafik](https://user-images.githubusercontent.com/27775323/28569257-6a6d09c2-7139-11e7-9a21-82f671e0f90b.png)

[2017-07-25 12:04] mahilleb-msft commented on #2107
@dhofm - thanks, we're fixing this.

[2017-07-25 13:00] zoli1984 opened #2157 "Scale up evaluation to larger image"
Hello,

I have traind my CNN for 32x32 images. The network is consist of conv and pool layers, and in the end one fully connected layer to make 2 output classes.  I would like to eval a 320x320 picture in a following way:

From the large image I get 32x32 pieces. This pieces are not disjunct, the have 24 * 32 pixels common part. So from 320x320 picture I will have [(320-32)/8+1] * [(320-32)/8+1] s

[2017-07-25 13:04] mahilleb-msft commented on #426
Closing, please feel to re-open or file a new issue, if this issue persists for you. Thanks!

[2017-07-25 13:04] #426 closed

[2017-07-25 13:05] mahilleb-msft commented on #456
Closing as answered. Please re-open or file a new issue if necessary. Thanks!

[2017-07-25 13:05] #456 closed

[2017-07-25 13:07] mahilleb-msft commented on #471
Closing, please feel to re-open or file a new issue, if this issue persists for you. Thanks!

[2017-07-25 13:07] #471 closed

[2017-07-25 13:08] mahilleb-msft commented on #493
Closing, please feel to re-open or file a new issue, if this issue persists for you. Thanks!

[2017-07-25 13:08] #493 closed

[2017-07-25 13:08] mahilleb-msft commented on #481
Closing, please feel to re-open or file a new issue, if this issue persists for you. Thanks!

[2017-07-25 13:08] #481 closed

[2017-07-25 13:12] mahilleb-msft commented on #450
Closing, please feel to re-open or file a new issue, if this issue persists for you. Thanks!

[2017-07-25 13:12] #450 closed

[2017-07-25 13:12] mahilleb-msft commented on #545
Closing, please feel to re-open or file a new issue, if this issue persists for you. Thanks!

[2017-07-25 13:12] #545 closed

[2017-07-25 13:12] mahilleb-msft commented on #555
Closing, please feel to re-open or file a new issue, if this issue persists for you. Thanks!

[2017-07-25 13:12] #555 closed

[2017-07-25 13:13] mahilleb-msft commented on #553
Closing, please feel to re-open or file a new issue, if this issue persists for you. Thanks!

[2017-07-25 13:13] #553 closed

[2017-07-25 13:26] jplu commented on #1776
Still nobody on this? :(

[2017-07-25 13:37] mahilleb-msft commented on #1850
Closing for now... please re-open if you have a repro / more info on this specific repro... Thanks!

[2017-07-25 13:37] #1850 closed

[2017-07-25 13:38] mahilleb-msft commented on #2066
Closing for now... Please feel to re-open when you can share more details! Thanks...

[2017-07-25 13:38] #2066 closed

[2017-07-25 14:35] arijit17 opened #2158 "Documentaion on data-parallel training"
Hi all:

Is there a documentation on how to set-up multiple Windows 10 computer on a network, and then doing data-parallel training?
What are the requirements?

I want to try on 2-3 Windows machines, some with GPU and some without GPU.

[2017-07-26 02:07] DabiaoMa commented on #2156
Please check this issus #1980

[2017-07-26 02:48] ksai14 commented on #2142
It seems that the model  does not traine (just guess)

I solved this problem by installing earlierest version(not a Fundamental solution )
https://github.com/Azure/ObjectDetectionUsingCntk#step-4-classifier-training

[2017-07-26 04:45] pedronahum commented on #960
For Reinforcement learning, I would be very interested in training a deep network in C#.

I believe that Azure Service Fabric or Microsoft Orleans could help to train an Evolutionary Strategies or A3C approach, for example.

The challenge in RL is how to scale to thousands of workers and how to smooth the communication among them. Microsoft has already the cluster tools, we just need to be able to

[2017-07-26 04:55] hongjiedai opened #2160 "EXCEPTION occurred when running the SLUHandsOn with other dataset"
I tried to follow the SLUHandsOn tutorial on my dataset.
I can successfully train/test my dataset for the baseline configruation.
After adding BatchNormalizationLayer, I can successfully train my model, but fail to test the model and occurred the following error messages:

cuDNN failure 9: CUDNN_STATUS_NOT_SUPPORTED ; GPU=1 ;...; expr=cudn
nBatchNormalizationForwardInference(*m_cudnn, mode, &C::On

[2017-07-26 07:48] hajix commented on #2156
YES, of course.

I successfully trained an end to end system using `forwardBackward` (The input is lmfb frames and the output is characters). Although I still can't transfer my code to python API, because of building errors.

@DabiaoMa @mikhail-barg

[2017-07-26 09:11] Worldexe commented on #2156
If we check `ForwardBackwardNode::Validate`, is explicitly requires
[code]

I dont see how can I feed it different sized sequences.
Forcing the axis to be the same (via `DynamicAxis()`) will lead to errors a bit earlier, because, well, sies really are not the same.

[2017-07-26 09:48] #2122 closed

[2017-07-26 09:49] mahilleb-msft commented on #2122
Thanks for reporting, this was addressed, the change will soon be live.

[2017-07-26 10:33] kyoro1 commented on #1991
Tentatively, I downgrade the version of `numpy` to `1.11.0`, I have succeeded in executing A1:

[code]

[2017-07-26 14:46] ksai14 commented on #2142
I just solved this problem change the ./fastRCNN/test.py
line 226 ||  def test_net(net, imdb, output_dir, feature_scale, classifier = 'svm', nmsThreshold = 0.3,
             boUsePythonImpl = False, boThresholdDetections = True , boApplyNms = True):
to

line 226 ||  def test_net(net, imdb, output_dir, feature_scale, classifier = 'svm', nmsThreshold = 0.3,
             boUsePythonImpl = False, boTh

[2017-07-26 15:20] kyoro1 commented on #2142
Is your change related to only A3?

[2017-07-26 15:52] Pierrick1001 opened #2161 "relocation R_X86_64_32S against `.rodata' can not be used when making a shared object; recompile with -fPIC"
make works well until those lines :

[code]

What is the problem ?

I saw similar error in Github with Caffe : [https://github.com/BVLC/caffe/issues/2171]( https://github.com/BVLC/caffe/issues/2171). Solution was to put option -fPIC.
When i do : export CXXFLAGS="-fPIC" && make it doesn't work
Maybe I should put this option somewhere in the makefile ? I tried but i don't know where put it.

[2017-07-26 19:28] mikhail-barg commented on #2156
@DabiaoMa thanks for the answer. I've seen this issue before, and have looked through it again, but sitll I'm puzzled. I'm currently at the point where you say:

And I don't see any solution still. @vmazalov, maybe you could lend a hand here?

The [tutorial](https://github.com/Microsoft/CNTK/blob/master/Tutorials/CNTK_208_Speech_Connectionist_Temporal_Classification.ipynb) that is referred to in t

[2017-07-27 05:13] #1725 closed

[2017-07-27 09:11] hajix commented on #2156
CTC configuration for training end to end system is added [here](https://github.com/hajix/models).

**SCP file** is the same as /CNTK/tree/master/Tests/EndToEndTests/Speech/Data

**CTF file** is made as follow:
1- At the beginning, all transcribed letters of the utterance is listed with __:2__. Read more about __:1__ and __:2__ [here](https://github.com/Microsoft/CNTK/tree/master/Tests/EndToEndTes

[2017-07-27 10:34] mikhail-barg commented on #2156
@hajix thank you for the thorough explanation! The most important part for me it this:

So you had to pad the labels sequence to have the same length as the features sequence, right? This looks like a hack to say the least!

@vmazalov, @frankseide , Is this really an intended way to do CTC in CNTK?

@hajix also thank you for the insight on the minibatch size and `delayConstraint`

[2017-07-27 10:43] Dezorian commented on #1313
rename the appropriate file in Examples\Image\Detection\FastRCNN\fastRCNN\utils
for example:
cython_nms.cp34-win_amd64.pyd
to:
cython_nms.pyd

[2017-07-27 12:36] DHOFM commented on #2148
@JafferWilson Imho it is all mentioned in the link cha-zhang provided. i did not check your test data but you will need a large amount of input text and output sequences to train your model. This dataset is often mentioned in this case: https://catalog.ldc.upenn.edu/LDC2003T05 but you will have to pay 3.000 USD for it. For some deep dive into this topic you can check https://arxiv.org/abs/1509.006

[2017-07-27 12:39] JafferWilson commented on #2148
@DHOFM Even if I get the datasets of LDC, I do not know how to create the program. Can you just show me the way to do it?

[2017-07-27 12:44] ksai14 commented on #2142
....... probably?
and I tried  connect 'selecive selarch.py' to  'Azure/ObjectDetectionUsingCntk'
 because there are confuse  selecive selarch option  in 'Azure/ObjectDetectionUsingCntk'
and i succeed connect each other   (A1_GenerateInputROIs) ==(1_computeRois and 2_cntkGenerateInputs)
but I met same problem ''BB = BB[sorted_ind, :] IndexError:'' at 5_evaluateResults...

In my opinion ..
the prob

[2017-07-27 12:52] DHOFM commented on #2148
@JafferWilson The code from cha-zhang could be used. If you get the data you need to create the dataset with pairs input and output sequences from it. The basic idea or algorithm is the same in the tutorial the outpout is a translation in your case a summarization But for handling such large datasets like the gigaword your machine setting will be large enough, too. What GPU(s) do you use for train

[2017-07-27 13:09] ujjwal-researcher opened #2163 "Problems while doing cross Validation after every epoch"
I am putting this issue after days of unsuccessful debugging.

I am using `cntk.training.training_session()` to conduct my training. I define it as follows in my code

[code]
You can see that I have used `CrossValidationConfig()` alongwith `frequency=12811670` to ensure that cross-validation takes place after every epoch ( total size of the training set is 12811670 samples !!).

I use the same fun

[2017-07-27 13:11] JafferWilson commented on #2148
I use mainly Tesla K80 16 GPUs for training. I was looking for a summarization solution based on the abstraction and not extraction. I have gone through Tensorflow and OpenNMT but didn't got any satisfying results. These libraries are not what I am looking for. Hence I thought to give CNTK a try if it works.

[2017-07-27 13:27] eldakms commented on #2163
hi, did you check your files? do they exist?
Cannot open file '/local/ujjwal/val/n02091831/ILSVRC2012_val_00007002.JPEG'

[2017-07-27 13:28] DHOFM commented on #2148
I onyl tested tensorflow some time ago and came to cntk which was perfect ( or near to it) for my needs but in your case, i wonder that tf is not what you need. They have a pretrained model under https://github.com/tensorflow/models/tree/master/textsum and they used the gigaset dataset for it. I can only guess in this case but i would guess that it should be easier to use than implementing your ow

[2017-07-27 13:33] JafferWilson commented on #2148
Yes I tried TextSum but it has given me worst summarization results. I do not know the reason yet, but if it is workable as you say then I need to recheck and rethink regarding the use.

[2017-07-27 13:47] ujjwal-researcher commented on #2163
That is the reason I closed the issue. It seems that my admins had to restore some files due to data loss for some electricity problem and the restoration could not restore some of the files.

I apologize since I got the information just now. I will reopen the issue if it does not work even now. I am trying it out .

I do not put in unnecessary issues and questions knowingly, so I sincerely apolog

[2017-07-27 13:49] eldakms commented on #2163
sure, no worries! thanks!

[2017-07-27 14:16] MLTOL opened #2164 "error BatchNormalization"
I have converted my converted my NDLNetworkBuilder to BrainscriptNetworkBuilder following the steps on: https://docs.microsoft.com/en-us/cognitive-toolkit/BrainScript-Network-Builder. I have changed my .ndl file to a .bs file and I use a Macros file called Macros.bs.

      bn = BatchNormalization(t, sc, b, m, isd, eval = false, spatial = false, normalizationTimeConstant = bnTimeConst)

[2017-07-27 15:13] cha-zhang commented on #2164
Which network do you use? Have you tried Macros.bs like this one:
https://github.com/Microsoft/CNTK/blob/master/Examples/Image/Classification/ResNet/BrainScript/Macros.bs

[2017-07-27 15:21] cha-zhang commented on #2155
To use multi-GPU to train with Keras model, you will need CNTK's data reader and trainers.

@souptc, could you create a simple example to show how this can be done?

[2017-07-27 20:57] ujjwal-researcher commented on #2163
I am reopening the issue because a fresh run with all the files properly positioned did not solve the problem. The error now is as follows :

[code]

[2017-07-28 00:06] junjieqian commented on #2158
There is a doc explaining how to run CNTK on multiple GPUs/machines, https://docs.microsoft.com/en-us/cognitive-toolkit/Multiple-GPUs-and-machines. Please reopen this issue, you need more information other than the linked doc. Thanks

[2017-07-28 00:06] #2158 closed

[2017-07-28 07:19] MLTOL commented on #2164
Hi, thank you for your answer. I use a convolutional neural network. I call the functions:

`conv = ConvNDBNReLULayer(featuresCTA, cMap1, 75, kW1, kH1, inMap, hStride1, vStride1, convWScale, convBValue, scValue, bnTimeConst)`

this will use the functions in my Macros.bs file:

`ConvNDBNReLULayer(inp, outMap, inWCount, kW, kH, inMap, hStride, vStride, wScale, bValue, scValue, bnTimeConst) = {
c = C

[2017-07-28 07:23] L-Ramos commented on #2160
What is the size of your input and what minibatch size are you using? Also whats your video card?

[2017-07-28 07:40] eldakms commented on #2163
Couple of questions:
Does it run if you run on 1GPU only?
Can you share a repro of the script/some sample data so that we can reproduce this locally? If the script is private I can provide you with email.

Thanks!

[2017-07-28 11:59] ujjwal-researcher commented on #2163
Thank you for your reply.

I ran it on a single GPU. However the same problem persisted with exactly the same error message. I am not repeating the error message because of its size.

Things I have checked

1. Check for the presence of all the files - YES. All files are present.

2. Check for any obvious errors in the code - YES. The code did not reveal any error.

I should also  tell that the cod

[2017-07-28 12:03] eldakms commented on #2163
I will try to reproduce this locally, other pair of questions:
1) Does it work if you do not specify CrossValidationConfig?
2) Did you try to specify model_inputs_to_streams for the CrossValidationConfig?

Thanks!

[2017-07-28 12:14] ujjwal-researcher commented on #2163
If I do not specify `CrossValidationConfig()` it does work quite fine with the entire training.

No. I have not specify `model_inputs_to_streams` because the mapping in the case of CrossValidation in my case is the same as the training session

From the Gitlab file,

[code]

[2017-07-28 12:54] eldakms commented on #2163
Could you please try:

    cv_input_map = {
        network['feature']: test_source.streams.features,
        network['label']: test_source.streams.labels
    }
...
        cv_config= CrossValidationConfig(test_source, minibatch_size=128, frequency=256, max_samples=50000, **model_inputs_to_streams=cv_input_map**),

Thanks!

[2017-07-28 14:15] arijit17 commented on #2158
Thanks!

What about other requirements? For example:

Do I need to install exactly the same flavor (CPU-Only, GPU, GPU-1bit-SGD) and Python version of CNTK on all the Windows machines? Or can they be different?

[2017-07-28 14:19] ujjwal-researcher commented on #2163
The previous error  disappeared. However there are still problems. See below

a) Why does cv_input_map does not have to be same as input_map ? Is that because of different transforms used ?

b) When I make the above changes, I get the following error which I am unable to decipher
[code]

In my code for minibatchsource for validation set, the transforms are specified as follows :

[code]
I expect i

[2017-07-28 14:40] eldakms commented on #2163
Checking, it should be 221 by 221. Btw, which version of CNTK do you use?

[2017-07-28 14:54] ujjwal-researcher commented on #2163
[code]

[2017-07-28 14:55] xforceco opened #2166 "Undefined reference to boost::test_tools::tt_detail when install"
I follow the official tutorial and do
`../../configure --asgd=yes --with-boost=/mydir/sys/boost-1.60.0 --with-mpi=/mydir/mpi --with-protobuf=/mydir/sys/protobuf-3.1.0 --with-mkl=/mydir/sys/CNTKCustomMKL
     --with-swig=/mydir/sys/swig-3.0.10 --with-py27-path=/mydir/anaconda3/envs/cntk-py27`

And finally,
`make all`

Everything works fine until build evaltests. Error message:

/mydir/mpi/bin/mpic+

[2017-07-28 15:00] ujjwal-researcher commented on #2166
Did you install boost with its unit_test module ?

[2017-07-28 15:01] ujjwal-researcher commented on #2163
I think, once this problem is solved, I should send a pull request for an improved documentation and code level examples to clarify these minor differences.

[2017-07-28 15:12] xforceco commented on #2166
Thank you for the reply. Is there any good way to check it?

During installation of boost, I do `./b2 -d0 -j"$(nproc)" install `. Getting:

    - 32-bit                   : no
    - 64-bit                   : yes
    - arm                      : no
    - mips1                    : no
    - power                    : no
    - sparc                    : no
    - x86                      : yes
    -

[2017-07-28 15:14] ujjwal-researcher commented on #2157
Solution 1
--------------
Before invoking CNTK for evaluation, you can run an intermediate function which will do the `32 x 32` extractions for you. Then you can follow by creating a `MiniBatchSource()` and doing evaluation in the normal manner.

Solution 2
--------------

This solution requires you to modify the codebase of CNTK but it is doable if you are ready to spend some time over it. You ne

[2017-07-28 15:22] ujjwal-researcher commented on #2166
From your compilation option : -
`--with-boost=/mydir/sys/boost-1.60.0 `

Now, from [this file](https://github.com/Microsoft/CNTK/blob/master/Tests/UnitTests/EvalTests/EvalTestHelper.h )

`#include <boost/test/unit_test.hpp>`

The compiler must find a folder named `boost` and inside it a folder named `test` . Do you have it in
`/mydir/sys/boost-1.60.0 ` ?

Where are your boost libraries ? The comp

[2017-07-28 15:24] ujjwal-researcher commented on #2151
Once your issue gets resolved, please consider closing it. A resolved but open issue is confusing and it also masks the efforts of the contributors and developers who take their time and energy to solve others' queries.

[2017-07-28 15:28] xforceco commented on #2166
inside `/mydir/sys/boost-1.60.0`
I only have `include/` and `lib/`

[2017-07-28 15:32] ujjwal-researcher commented on #2166
There is a problem with that. Let me check and get back to you in a few minutes.

[2017-07-28 15:40] ujjwal-researcher commented on #2166
Kindly post your `configure` file

[2017-07-28 15:52] xforceco commented on #2166
#
# Copyright (c) Microsoft. All rights reserved.
#
# Licensed under the MIT license. See LICENSE.md file in the project root
# for full license information.
# ==============================================================================
#

configure=$0
build_top=$PWD

cuda_path=
cuda_check=include/cuda.h
enable_cuda=

enable_python=

enable_java=

# NCCL communication library
have_nccl=no
nccl_p

[2017-07-28 16:16] ujjwal-researcher commented on #2166
Try to change the following lines and try :

In configure file in Line 39, put boost_path=<FULL PATH TO boost-1.60.0 folder>

In configure file in Line 114, at the end put /mydir/sys

Now try configure using the same way you were doing earlier.

[2017-07-28 17:13] xforceco commented on #2166
Just tried. The issue persists.

[2017-07-28 17:16] ujjwal-researcher commented on #2166
Exactly the same error ? Let me check it again. There is some bug with the `configure` file that has been known for quite some time. It seems that it is high  time that someone takes the initiative and cleans it up.

[2017-07-28 17:19] xforceco commented on #2166
Yes, there are many undefined reference to `boost::XXX`.
The first one is still `boost::test_tools::tt_detail`

Thank you for the help, my plan is to try out the official release cntk2.0 instead of latest master tomorrow.

[2017-07-28 17:26] ujjwal-researcher commented on #2166
This is not a problem with the latest master. It is a problem with the `configure` script. I will look into it tonight and let you know tomorrow morning

[2017-07-28 17:30] eldakms commented on #2163
There is a bug in the crop transform. Could you please try this branch - eldak/fixingCrop?
Should be fixed there. If all is ok, i will add tests and merge to master. Thanks a lot for reporting this and sorry for the trouble!

[2017-07-28 20:54] n17s commented on #1776
For the CDSSM case, you just create two inputs. One with the topics and the original one. You can then give the topics to a dense layer and the original one to the convolutional layer. Then you can splice the outputs of these together.

The above approach might also work for the DSSM case. I haven't tried it but your proposal is also  OK for the DSSM case. The difference is whether you think inter

[2017-07-28 21:58] junjieqian commented on #2158
Have not tested with different flavors. But in my understanding, both the flavor should be the same and the path (binary, configuration files, etc.) should be the same as well. The command to run is something like "mpiexec <options> python ....", so you should expect each GPU/CPU on different/same machines does exactly same thing.

[2017-07-28 23:57] cha-zhang commented on #156
I'm closing this issue since it's been too old. Please update to the latest CNTK and see if your problem has been resolved. If not, please feel free to open a new issue.

[2017-07-28 23:57] #156 closed

[2017-07-29 00:43] cha-zhang commented on #469
I'm closing this issue as there is no further actions to be taken. 16bit support will be in our August iteration plan, ETA around mid September.

[2017-07-29 00:43] #469 closed

[2017-07-29 00:45] cha-zhang commented on #455
Since this issue is very old, I'm closing it. We recommend you to use the new Python API to train and test models, and there you will have all the flexibility to write output files.

[2017-07-29 00:45] #455 closed

[2017-07-29 00:48] cha-zhang commented on #472
I'm closing this issue since it has been too old. @Kaya122 if you still working on this and hasn't find answers, please post a new issue. Thanks!

[2017-07-29 00:48] #472 closed

[2017-07-29 00:50] cha-zhang commented on #492
CNTK should be able to read non-square images. Please try the latest CNTK 2.0 and see if the problem still exists.

I'll close this for now. Feel free to open a new issue if the problem is not resolved. Thanks!

[2017-07-29 00:50] #492 closed

[2017-07-29 01:52] cha-zhang commented on #750
You can use splice in the latest Python API.

I'm closing this issue since it's been very old. Please open a new issue if problem persists.

[2017-07-29 01:52] #750 closed

[2017-07-29 13:31] 5vision opened #2167 "UserFunction does not work in a loop"
Here is the reproduction:
[code]
which leads to the error:
[code]

[2017-07-29 15:06] ujjwal-researcher commented on #2166
Hello,

First of all do `make clean` to make sure that the build history is clear.

Make sure that in your `configure` script you changed `boost_path=/mydir/sys/boost-1.60.0`

Then on terminal type `ls /mydir/sys/boost-1.60.0/include/boost/test/unit_test.hpp` to make sure that there is a valid file at that location.

Now towards the end of the `configure` script (around line 788 or so) you will fi

[2017-07-29 15:11] hongjiedai commented on #2160
I used Titan X.
The training and test sets contains 29915 and 14999 sequences respectively.
I used the same configuration provided by the tutorial;

  epochSize = 36000
  minibatchSize = 70

[2017-07-29 16:06] ujjwal-researcher commented on #2163
I can confirm that your proposed changes are now working. So, merging it into the master would be great.

Thank you very much. You have been extremely helpful.

I am closing the issue now.

[2017-07-29 16:22] xforceco commented on #2166
In short, this is due to a (probably) old `libboost_unit_test_framework.so` installed by my department in `/usr/local/lib` and the compiler takes it in higher priority to `/mydir/sys/boost-1.60.0/lib`

------------------------------------------------------------------------------------------
I think I just found out the problem, the boost path is actually correctly set.
However, as I post in the f

[2017-07-29 16:22] #2151 closed

[2017-07-29 16:38] ujjwal-researcher commented on #2163
On a second thought, I reopened this issue. When you push these changes to master, could you kindly post the new SHA1 hash of the new master, so that at the time of code distribution, I can convey that hash so that others using my code would not have to go through this issue again ?

After posting the new SHA1 hash, as a core contributor you can close this issue. Thanks.

[2017-07-29 16:43] ujjwal-researcher commented on #2166
If you can, it will be helpful for the community and you should send a pull request. But I think that making the `configure` script general enough for every audience is a tough job and almost unmanageable.

If you want to use your own versions, make sure that those paths are preferentially set like you did.

And `/mydir/sys` should be put in the front of `default_path_list` not `/mydir/sys/boost-1

[2017-07-29 16:48] xforceco commented on #2166
Solution (Hack):
In `cntk/Makefile`, line 100, change `LIBPATH:=` to `LIBPATH:=/mydir/sys/boost-1.60.0/lib`
The build is successful, and quick example run is successful.

[2017-07-29 16:52] xforceco commented on #2166
Currently, I have written a `.sh` script for building everything from scratch (i.e. download source, other tools and build) which **does not require root access**
I don't know whether it is helpful for the community, especially for those who needs to change some minor thing (or fix) in source code, followed by a complete build.

[2017-07-29 16:57] cha-zhang commented on #780
Hi, I'm closing this issue as it has been too old. If the issue remains unsolved in the latest CNTK, please open a new issue for this.

[2017-07-29 16:57] #780 closed

[2017-07-29 17:06] cha-zhang commented on #833
This issue has been opened for a while. I hope you have migrated to the latest Python API. And there are a few typical RNNs implemented in the high-level API you may use directly. I'm closing this issue now. Feel free to open a new one if needed.

[2017-07-29 17:06] #833 closed

[2017-07-29 17:13] #898 closed

[2017-07-29 17:15] cha-zhang commented on #920
This thread has been too old and it's unclear if the issue remain in the latest CNTK 2.0. I'm closing this now. Please reopen a new issue if needed. Thanks!

[2017-07-29 17:15] #920 closed

[2017-07-29 17:47] #2166 closed

[2017-07-29 17:53] cha-zhang commented on #1025
I assume you are evaluating features. Here is a brief example in Python:
https://docs.microsoft.com/en-us/cognitive-toolkit/How-do-I-Evaluate-models-in-Python

[2017-07-29 17:53] #1025 closed

[2017-07-29 18:01] cha-zhang commented on #1031
In python you can access the layer parameters:
https://docs.microsoft.com/en-us/cognitive-toolkit/How-do-I-Read-Things-in-Python

Closing this issue since it's been very old.

[2017-07-29 18:01] #1031 closed

[2017-07-29 18:24] cha-zhang commented on #1035
According to @yuxiaoguo, PBN don’t have significant improvement, comparing with current exponential running average BN in training. We tested and on ResNet it will boost only 0.01%, while it will drop about around 0.02% in GoogLeNet.

PBN is used in two scenes:
1.	In some cases, people want to know the intrinsic testing curve in training. Meanwhile, the running average BN is instable while trainin

[2017-07-29 18:26] #1035 closed

[2017-07-29 18:32] cha-zhang commented on #1064
I believe we have a profiler now. Closing this issue.

[2017-07-29 18:32] #1064 closed

[2017-07-29 18:33] cha-zhang commented on #1071
With Python you have a lot of flexibility in feeding data to the trainer, and online learning is certainly achievable.

This thread has been too old and it's unclear if the issue remain in the latest CNTK 2.0. I'm closing this now. Please reopen a new issue if needed. Thanks!

[2017-07-29 18:33] #1071 closed

[2017-07-29 18:34] cha-zhang commented on #1075
This thread has been too old and it's unclear if the issue remain in the latest CNTK 2.0. I'm closing this now. Please reopen a new issue if needed. Thanks!

[2017-07-29 18:37] cha-zhang commented on #1077
You may do it with the Python API. Check the tutorial here: https://github.com/Microsoft/CNTK/blob/master/Tutorials/CNTK_106A_LSTM_Timeseries_with_Simulated_Data.ipynb

This thread has been too old and it's unclear if the issue remain in the latest CNTK 2.0. I'm closing this now. Please reopen a new issue if needed. Thanks!

[2017-07-29 18:37] #1077 closed

[2017-07-29 18:38] #1075 closed

[2017-07-29 18:42] cha-zhang commented on #1091
Closing this issue due to lack of response. Please reopen if further help is needed.

[2017-07-29 18:42] #1091 closed

[2017-07-29 18:52] cha-zhang commented on #1183
You can compute the probability by computing a softmax by yourself, which compute e^x for each element, and normalize to sum 1.

[2017-07-29 18:52] #1183 closed

[2017-07-29 18:55] cha-zhang commented on #1198
I believe you can if you use CNTK's low level Python APIs, although CNTK is not designed for this and you will need other packages such as skilearn.

This thread has been too old and I'm closing this now. Please reopen a new issue if needed. Thanks!

[2017-07-29 18:55] #1198 closed

[2017-07-29 19:35] tinyfx commented on #1198
It can be done by the way, with help of a 3rd party linear algebra library

[2017-07-29 23:17] cha-zhang commented on #1215
SparseImageInput is deprecated. Sparse image input is not supported at this moment:
https://docs.microsoft.com/en-us/cognitive-toolkit/Inputs

This thread has been too old. I'm closing this now. Please reopen a new issue if needed. Thanks!

[2017-07-29 23:17] #1215 closed

[2017-07-29 23:19] cha-zhang commented on #1219
Closing this issue since there is no response for 3 weeks. Please reopen a new one if needed. Thanks!

[2017-07-29 23:19] #1219 closed

[2017-07-29 23:24] cha-zhang commented on #1269
This issue seems to have been resolved. I'm closing it now. Feel free to open a new one if needed.

[2017-07-29 23:24] #1269 closed

[2017-07-29 23:27] cha-zhang commented on #1283
@ghost was right, Tutorials like https://github.com/Microsoft/CNTK/blob/master/Tutorials/CNTK_103B_MNIST_LogisticRegression.ipynb uses text reader to load image data.

This thread has been too old. I'm closing this now. Please reopen a new issue if needed. Thanks!

[2017-07-29 23:27] #1283 closed

[2017-07-29 23:33] cha-zhang commented on #1284
@timolohrenz , since #1365 has been resolved I believe this is also resolved. I'm closing it now. Feel free to open a new issue if needed.

[2017-07-29 23:33] #1284 closed

[2017-07-29 23:46] cha-zhang commented on #1297
CNTK supports Numpy like matrix operation, so you can refer to a matrix column as A[:,1].

This thread has been too old and I'm closing this now. Please reopen a new issue if needed. Thanks!

[2017-07-29 23:46] #1297 closed

[2017-07-29 23:51] cha-zhang commented on #1312
Would this solve your issue?
https://docs.microsoft.com/en-us/cognitive-toolkit/How-do-I-Read-Things-in-Python

This thread has been too old and I'm closing this now. Please reopen a new issue if needed. Thanks!

[2017-07-29 23:51] #1312 closed

[2017-07-29 23:52] cha-zhang commented on #1315
No response for a while and I'm closing this issue. Please reopen a new issue if needed. Thanks!

[2017-07-29 23:52] #1315 closed

[2017-07-29 23:55] cha-zhang commented on #1324
It has something to do with our CPU convolution implementation. It uses matrix unwrapping and your kernel size is unusually big. We are adding Intel MKL-DNN and that should resolve the issue.

[2017-07-29 23:58] cha-zhang commented on #1328
Yes, it does by setting reduction_rank = 0 in Convolution.

[2017-07-30 00:01] cha-zhang commented on #1335
Could you please let us know if in the latest 2.0 GA you still have this issue?

[2017-07-30 05:23] cha-zhang commented on #1198
Great. Thanks!

[2017-07-30 11:24] veikkoeeva commented on #960
@pedronahum See at https://gitter.im/Microsoft/CNTK?at=5954c563bf7e6af22c863c39.

[2017-07-30 18:20] xforceco commented on #2009
I encounter `IOError: Could not load meta information` in video example.
And fix it by, `pip install --upgrade pip` and `pip install --upgrade imageio`

[2017-07-30 23:56] cha-zhang commented on #1343
This thread has been too old and it's unclear if the issue remain in the latest CNTK 2.0. I'm closing this now. Please reopen a new issue if needed. Thanks!

[2017-07-30 23:56] #1343 closed

[2017-07-30 23:58] cha-zhang commented on #1356
Closing this issue due to lack of response. Please reopen a new issue if needed. Thanks!

[2017-07-30 23:58] #1356 closed

[2017-07-31 00:07] cha-zhang commented on #1375
You can see some explanation here:
https://www.youtube.com/watch?v=4NR-XmHiDJw

Since this has been a very old question, I'm closing it now. Feel free to reopen a new issue if needed.

[2017-07-31 00:07] #1375 closed

[2017-07-31 00:50] championoaks opened #2170 "UWP configuration in the Visual Studio solution file."
Does it represent CPU only UWP or GPU only UWP? Its confusing.

[2017-07-31 03:02] nono1981 commented on #2170
Is UWP supported by CNTK? Any document is helpful, thx.

[2017-07-31 06:38] wolfma61 commented on #2170
An UWP evaluation library will be made available shortly (next couple of days)
This will support CPU evaluation capabilites on the universal windows platform

[2017-07-31 07:16] L-Ramos commented on #2160
Ok, so what values for minibatch have you tried?
For epochSize you can leave it =0 and it will use the whole dataset.
Can you paste your code here so we can check the BatchNormalization function?

[2017-07-31 07:18] Blealtan opened #2172 "BS.Sequences.*Fold* functions problem (on signature of _Fold)"
I was looking for a similar interface to Python API's `cntk.layers.sequence.Fold` in BrainScript reference but failed. Later on I found this in `CNTK.core.bs`:

[code]

I tried to use `FoldL` but it failed with

[code]

Then back to the code snippet, it's obvious that the signatures of _Fold in its definition and usage are different!

However those functions are not mentioned in BrainScript's Func

[2017-07-31 08:50] pkranen commented on #2144
You can clone any subgraph of your network, you just need to know the names of the nodes that you want to start from and the names of the nodes that should be your outputs. To get the names I'd recommend to plot the graph of interest:

[code]

See [here](https://github.com/Microsoft/CNTK/blob/master/Examples/Image/Detection/FasterRCNN/FasterRCNN.py#L446) for an example. Once you know the names of

[2017-07-31 11:20] jplu commented on #1776
Thanks for your answer @n17s!!

So here what I understand from your suggestion:

* Create two different inputs: one with the trigrams, and another one with the topics
* Make two different networks one DSSM with the trigrams and one CDSSM with the topics
* merge the output of the two networks

Am I well understanding what you suggest?

[2017-07-31 11:52] jplu commented on #1776
More precisely I'm trying to take inspiration of the model proposed here https://arxiv.org/pdf/1504.07678.pdf

[2017-07-31 12:27] pkranen commented on #1964
The code in the latest master for that line looks as follows:
[code]
That should fix it, I tried it just now and it works fine. Please try again with the latest bits. I'll close this issue, feel free to reopen if that does not fix it for you. Thanks.

[2017-07-31 12:27] #1964 closed

[2017-07-31 13:33] pkranen commented on #1913
As I understand your issue you already have a trained model that expects images with a single channel as input, correct? To feed gray scale images with a single channel into your model modify the `EvaluationSingleImage(...)` method in `CNTKLibraryCSEvalExamples.cs` as follows: if your input images are not already gray scale convert them after you create the bmp from file (line 68). You can see exa

[2017-07-31 13:44] pkranen commented on #1517
You can add something like the following around the for loop in `evaluate_fast_rcnn` (see [here](https://github.com/Microsoft/CNTK/blob/master/Examples/Image/Detection/FastRCNN/A2_RunWithPyModel.py#L190)):
[code]

[2017-07-31 13:44] #1517 closed

[2017-07-31 14:36] pkranen commented on #2157
Thanks ujjwal for your proposals. While they would probably work, they still both compute all the common parts from the overlaps for each 32x32 tile again. A simpler and more efficient solution would be to use ROI pooling for this as in [Fast R-CNN](https://github.com/Microsoft/CNTK/blob/master/Examples/Image/Detection/FastRCNN/A2_RunWithPyModel.py#L112), see also this [tutorial](https://docs.micr

[2017-07-31 15:05] cha-zhang commented on #1415
@ghost, has this been resolved by the latest 2.0 release?

[2017-07-31 15:11] cha-zhang commented on #1449
Please refer to:
https://github.com/Microsoft/CNTK/blob/master/Manual/Manual_How_to_feed_data.ipynb
or:
https://github.com/Microsoft/CNTK/blob/master/Manual/Manual_How_to_create_user_minibatch_sources.ipynb

I'm closing this issue now. Feel free to open a new issue if needed.

[2017-07-31 15:11] #1449 closed

[2017-07-31 15:18] cha-zhang commented on #1507
@gvoysey , you closed and reopened this issue. Has this been resolved?

I'm closing this because the question has been 5 months old. If it still an issue for the latest 2.0 release, please open a new issue. Thanks!

[2017-07-31 15:18] #1507 closed

[2017-07-31 15:21] gvoysey commented on #1507
@cha-zhang resolved here, iirc.  I think i re-opened it accidentally.  thanks for cleaning up!

[2017-07-31 15:21] cha-zhang commented on #1524
I'm closing this issue for now. Please reopen it if needed. Documentation is of very high priority for the CNTK team.

[2017-07-31 15:21] #1524 closed

[2017-07-31 15:26] cha-zhang commented on #1571
Closing this issue due to lack of response. Feel free to reopen it if needed. Thanks!

[2017-07-31 15:26] #1571 closed

[2017-07-31 15:31] cha-zhang commented on #1669
I'm closing this issue due to lack of response. Please reopen the issue if needed. Thanks!

[2017-07-31 15:31] #1669 closed

[2017-07-31 15:44] cha-zhang commented on #1734
I'm closing this issue due to lack of response. Please reopen this issue if needed. Thanks!

[2017-07-31 15:44] #1734 closed

[2017-07-31 15:49] cha-zhang commented on #1755
We are working on C#/.NET support. Will close this thread for now. Please follow our iteration plan:
https://github.com/Microsoft/CNTK/wiki/Iteration-Plans
to track progress.

[2017-07-31 15:49] #1755 closed

[2017-07-31 15:53] cha-zhang commented on #1789
Does your network has convolution with large kernel?

[2017-07-31 15:54] cha-zhang commented on #1793
I'm closing this for now since there doesn't seem any action item remaining from the CNTK team. Please reopen the issue if needed. Thanks!

[2017-07-31 15:54] #1793 closed

[2017-07-31 16:00] cha-zhang commented on #1835
I'm closing this issue due to lack of response. Assume this is resolved for the latest 2.0 release. Feel free to reopen this issue if needed. Thanks!

[2017-07-31 16:00] #1835 closed

[2017-07-31 23:06] JimSEOW commented on #2170
@wolfma61 just curious, is there a plan for CNTK.UWP.CPUOnly to eventually support Windows 10 (ARM64) [WinOnARM [native not under x86 emulation] by Q4 2017?

[2017-08-01 00:21] n17s opened #2173 "matrix times vector = tensor?"
The following operations make no sense:
[code]
The result should have shape (2,), not (2, 3, 3).

[2017-08-01 01:20] peachthiefmedia commented on #826
+1

[2017-08-01 04:25] cha-zhang commented on #1415
Closing this issue since it's been too old. If the issue remains, please reopen. Thanks!

[2017-08-01 04:25] #1415 closed

[2017-08-01 04:39] cha-zhang commented on #740
I talked to MSR folks and there's no plan for releasing the decoder argon. @dongyu888 has left the team.

Closing this issue for now. Thanks!

[2017-08-01 04:39] #740 closed

[2017-08-01 04:41] cha-zhang commented on #1507
Great. Thanks!

[2017-08-01 07:35] pkranen commented on #2039
Closing this one since the user reported that the issue was fixed with the 2.1 release.

[2017-08-01 07:35] #2039 closed

[2017-08-01 07:35] pkranen commented on #2142
Please try with the new CNTK 2.1 release. Closing this one since the user reported that the issue was fixed with the 2.1 release.

[2017-08-01 07:35] #2142 closed

[2017-08-01 08:24] wolfma61 commented on #2170
I didn't follow the WindowsOnArm story closely ... what devices and scenarios?

[2017-08-01 12:12] #2085 closed

[2017-08-01 12:12] #1976 closed

[2017-08-01 12:13] #1839 closed

[2017-08-01 13:20] JimSEOW commented on #2170
@wolfma61

Win10 on ARM will be 64bit (in contrast to Windows 10 mobile 32bit).
It run native UWP (compiled to ARM64).
It will also run (Under emulation x86) UWP (x86).
=> If the CNTK team could provide  CNTK.UWP.CPUOnly (instead of X64 but ARM64) => then Win10 on ARM is empowered to support SMART/Intelligent UWP Apps  in native mode when it is expected  end of 2017.

=> It is an unconfirmed leak

[2017-08-01 13:29] wolfma61 commented on #2170
we need to make sure our dependencies are able to create arm64 bits, then it 'should' be possible to do this. But I don't think we want to promise anything now for a release something in Q4 ...

[2017-08-01 14:17] JimSEOW commented on #2170
@wolfma61

If the dependencies are OK, an expression of interest to support ARM64 is sufficient to excite .NET Deep Learning community. There is now so much to do NOW once the CNTK.UWP.CPUOnly is made available, we can wait beyond Q4 2017.

[2017-08-01 14:34] eldakms commented on #2163
The hash is 77d7f943b53b0accfe7e9804639c7d10b1bbee7e. Feel free to reopen if you still bump into any issues. thanks!

[2017-08-01 14:34] #2163 closed

[2017-08-01 17:30] cha-zhang commented on #1837
Closing this issue due to lack of response. Please reopen if needed.

[2017-08-01 17:30] #1837 closed

[2017-08-01 17:32] cha-zhang commented on #1845
Closing this issue due to lack of response. Please feel free to reopen it if needed. Thanks!

[2017-08-01 17:32] #1845 closed

[2017-08-01 17:34] cha-zhang commented on #1860
I'm closing this issue for now. Please reopen it if needed. Thanks!

[2017-08-01 17:34] #1860 closed

[2017-08-01 17:37] cha-zhang commented on #1861
Please also check our tutorial on sequence to sequence here:
https://github.com/Microsoft/CNTK/blob/master/Tutorials/CNTK_204_Sequence_To_Sequence.ipynb

I'm closing this for now. If you have new issues regarding seq2seq, feel free to open a new issue. Thanks!

[2017-08-01 17:37] #1861 closed

[2017-08-01 18:08] liqunfu commented on #2172
@Blealtan. Fold(L,R) are not called from anywhere in the script. You probably can try to correct _Fold's signature to take a Op and call it instead of the "PastValue". It is recommended to work with Python in order to take full advantage of current and future development of CNTK. There are Python interfaces that you cannot find counterpart in BrainScript. I will close this issue for now. Thanks.

[2017-08-01 18:08] #2172 closed

[2017-08-01 20:20] cha-zhang commented on #1864
See #1035.

Closing this for now. Thanks!

[2017-08-01 20:20] #1864 closed

[2017-08-01 20:21] cha-zhang commented on #1873
Closing this due to lack of response. Please reopen if needed. Thanks!

[2017-08-01 20:21] #1873 closed

[2017-08-01 20:22] cha-zhang commented on #1877
Closing this issue due to lack of response. Please feel free to reopen this if needed. Thanks!

[2017-08-01 20:22] #1877 closed

[2017-08-01 20:23] cha-zhang commented on #1878
Closing this issue due to lack of response. Feel free to reopen it if needed. Thanks!

[2017-08-01 20:23] #1878 closed

[2017-08-01 20:24] cha-zhang commented on #1889
Seems this issue is resolved. I'm closing it now. Feel free to reopen it if needed. Thanks!

[2017-08-01 20:24] #1889 closed

[2017-08-01 20:27] cha-zhang commented on #1903
No response in 3 weeks, and I'm closing this issue. Feel free to reopen it if needed. Thanks!

[2017-08-01 20:27] #1903 closed

[2017-08-01 20:28] cha-zhang commented on #1910
It seems this issue has been resolved. Will close this issue. Feel free to reopen if needed.

[2017-08-01 20:28] #1910 closed

[2017-08-01 20:50] n17s opened #2175 "Trainer.restore_from_checkpoint does not restore the constants"
`Trainer.restore_from_checkpoint` should restore the constants. The following code reproduces the problem.

[code]

The output is
[code]

which shows that everything works except when loading from a checkpoint where the constants have value 3 but the parameters have value 2.

[2017-08-01 21:18] cha-zhang commented on #2028
Seems the issue has been resolved? I'm closing it now. Feel free to reopen.

[2017-08-01 21:18] #2028 closed

[2017-08-01 21:23] cha-zhang commented on #2040
Close this due to lack of response. Feel free to reopen.

[2017-08-01 21:23] #2040 closed

[2017-08-01 21:28] cha-zhang commented on #2064
CNTK 2.1 has been released. This iteration plan is now closed.

[2017-08-01 21:28] #2064 closed

[2017-08-01 22:24] cha-zhang commented on #2074
I'm closing this issue since there's no response for 4 weeks. Feel free to reopen this issue if needed. Thanks!

[2017-08-01 22:24] #2074 closed

[2017-08-01 22:53] guillaume-chevalier commented on #2061
I get this error too (on a GPU environment) that should work fine. It would be interesting to know the exact reason for this error.

[code]

Commenting out the line "C.set_global_option('align_axis', 1)" makes the import work, but the code would still bug later on when using Keras, for example, I get this error later on, here is a part of the stack:

[code]

[2017-08-01 23:36] guillaume-chevalier commented on #2061
Got it working. I had a previous installation of `cntk==2.0rc1` overriding my newer `cntk==2.1` installation. Some path issues.

[2017-08-02 01:52] qflgithub opened #2176 "Python PIL module missing"
under cntk\Tutorials\ImageHandsOn

CifarConverter.py needs PIL  module, where to find it?
--error message
Traceback (most recent call last):
  File "CifarConverter.py", line 6, in <module>
    from PIL import Image
ModuleNotFoundError: No module named 'PIL'

[2017-08-02 05:43] liqunfu commented on #2176
@qflgithub, please follow answers in this link to install the missing module.
https://stackoverflow.com/questions/8863917/importerror-no-module-named-pil

[2017-08-02 05:43] #2176 closed

[2017-08-02 07:29] 1ytic opened #2178 "Wrong cuda 8 gdk/nvml paths"
AFAK since CUDA 8 the path of gdk/nvlm has changed. You should change the configure file
[code]
it will simplify an installation process with
[code]

[2017-08-02 07:31] pkranen commented on #1700
We have a work in progress implementation of Yolo v2 in the branch pkranen/yolo. I'll close this issue, please try yolo once it is in master.

[2017-08-02 07:31] #1700 closed

[2017-08-02 09:04] zhouwangzw commented on #2068
@JeffScherrer Checked the repo you sent and found the input of the model created by create_model() is Placeholder, instead of Input variable. You need to replace Placehold with correct input varialbes.

Thanks,

[2017-08-02 09:57] playgithub commented on #1753
Sorry, long time away. I'll post pull request when I'm back.

[2017-08-02 14:35] raaaar commented on #2175
Shouldn't
[code]
actually be
[code]
?

[2017-08-02 14:39] cha-zhang commented on #2101
I'm closing this due to lack of response. If needed, please reopen the issue.

[2017-08-02 14:39] #2101 closed

[2017-08-02 15:18] cha-zhang commented on #2123
Closing this issue due to lack of response. Please reopen it if needed. Thanks!

[2017-08-02 15:18] #2123 closed

[2017-08-02 16:21] n17s commented on #2175
Yes, it's the same root cause.

[2017-08-02 16:36] frankibem opened #2179 "How to exclude One-Hot from gradient propagation"
In Double DQN, I'm trying to compute the value of the next states (post_state_var) using the online model. To vectorize my solution, I've made use of the one_hot op. However, I get the following error when I try to train:

I've defined my model and inputs as:
[code]
I then calculate the target values and define the loss as follows:
[code]

If I replace
`online_post_state_model = model_fn(post_stat

[2017-08-02 16:41] vermorel opened #2180 "Matrix.cpp does not implement += and -= for sparse matrices"
With a BrainScript script no more complex than:

    lr  = ReduceSum( SquareError(X, Z) )

with `X` being a sparse input, I end-up with the following exception:

 Inside File: Matrix.cpp  Line: 2300  Function: Microsoft::MSR::CNTK::Matrix<float>::operator -=  -> Feature Not Implemented.

[code]

It appears, indeed, that neither `+=` nor `-=` are implemented in the case of the sparse matrix.

[2017-08-02 16:57] souptc commented on #2155
Sure, I will try to make an example first.

[2017-08-02 17:51] David-Levinthal opened #2181 "linux ubuntu 16.04 build from source with gcc 6.2 fails: Tests/UnitTests/V2LibraryTests/FunctionTests.cpp abs(double) ambiguous"
both top of tree and setting the checkout to V.2.0
I did not see this issue with the default ubuntu 16.04 compiler
I had to upgrade the compiler to get better avx512 support for other investigations

                 from Tests/UnitTests/V2LibraryTests/FunctionTests.cpp:5:
Tests/UnitTests/V2LibraryTests/FunctionTests.cpp: In function 'void CNTK::Test::SetDropoutRate(const CNTK::DeviceDescriptor&)'

[2017-08-02 21:22] veikkoeeva commented on #960
A note about improvements to .NET numerics, such as tensors at https://gitter.im/Microsoft/CNTK?at=59824118210ac269204b229c and it might make sense to try to pull the various people together to see if there's a chance to synchronize minds and see if it could in the future show in a roadmap somehow.

[2017-08-03 08:10] newoneincntk opened #2184 "Problem when running the GAN example"
I try to run the example from "CNTK 206 Part A: Basic GAN with MNIST data", although it can run normally, but the following note appear
[Note:] Trainer ctor: 4 of the model parameters are not covered by any of the specified Learners; these parameters will not be learned
[Note:] Trainer ctor: 4 of the model parameters are not covered by any of the specified Learners; these parameters will not be le

[2017-08-03 09:26] #2175 closed

[2017-08-03 11:31] mahilleb-msft commented on #2015
Hi @egorzay,
  I wasn't able to reproduce this, under a Ubuntu 16.04 docker with Python 3.6 (as you know it's not available by default under Ubuntu 16.04). So, with this:

[code]

CNTK import just works:
[code]
I can't help with any PyCharm-specific setup. Potentially, you'll need some configuration there, to make it available of your Python 3.6 distribution and library path and such. That it comp

[2017-08-03 12:32] apacha commented on #2077
@cha-zhang: did you actually read the issue and the answer before closing it?
@sayanpa: Did you notice, that in the example the data is casted to float32, as pointed out by @cartacarta ? So the issue here is: Why is cntk (both version 2.0 and 2.1) is giving a user-warning for something that should not be (the data already is in float32 format). If you don't believe me, check out the code yourself:

[2017-08-03 14:17] cha-zhang commented on #2077
@apacha , apologize for closing this issue prematurely. @souptc please take a look at this. Thanks!

[2017-08-03 19:38] sayanpa commented on #1340
This feature can be to any python notebook by using the code found here: https://github.com/alexanderkuk/log-progress

Given our current downloads are fairly small, lowering the priority of this task. However, we are happy to take contributions, if you are interested in contributing back to the toolkit.

[2017-08-03 19:40] sayanpa commented on #2118
You can also look into the CNTK 106A/B tutorials for examples (not using speech data). Given we havn't heard back from you for over two weeks, I am closing the issue. Please feel free to reopen if you need help.

[2017-08-03 19:40] #2118 closed

[2017-08-03 19:58] sayanpa commented on #1961
I was wondering if you have tried with the network with keeping the input_variable to accept the sequence axis to be the default dynamic axes. Currently you are passing input_seq_axis = ct.Axis('inputAxis').

[2017-08-03 20:07] sayanpa commented on #2184
Good question.

What happens with GANs is that you train the Generator and Discriminators independently. Which means that while training the Generator, the discriminator parameters are not updated. Similarly when training the discriminator you donot update the generators parameters.

If you notice the  D_loss = -(C.log(D_real) + C.log(1.0 - D_fake)) and
    D_fake = D_real.clone(
        method =

[2017-08-03 20:08] sayanpa commented on #2148
Please reopen this issue after you had a chance to check and re-think. Given it is has been a week, closing it for now.

[2017-08-03 20:08] #2148 closed

[2017-08-03 20:10] sayanpa commented on #1718
Will look forward to your pull requests for specific improvement. In the mean time we will do our best to improve our documentation keeping your feedback in mind. Closing this issue for now.

[2017-08-03 20:10] #1718 closed

[2017-08-03 21:25] sayanpa commented on #1340
Closing this issue for now since we are looking forward to the possibility of contribution from the community based on the aforementioned solution or any other that emulates the behavior.

[2017-08-03 21:25] #1340 closed

[2017-08-04 04:02] whaozl opened #2187 "I find cntk new version is so slow for rnn, and I don't konw the reason. I use old version is so fast."
**this minibatch-size=128**
**This model is LSTM. but one minibatch need 2 seconds.**

[code]

[2017-08-04 04:35] KeDengMS commented on #2187
@whaozl Please use [profiler ](https://docs.microsoft.com/en-us/cognitive-toolkit/BrainScript-and-Python-Performance-Profiler) to check what's slowed down comparing to old version. If possible, please share a repro. Thanks!

[2017-08-04 05:46] arduano commented on #1961
I'm not exactly sure what you mean, but I have tried many options from other LSTMs that I found. Oh, and I could not find any direct solution online.

I also tried to make another basic LSTM later on, and had the same problem, even though the code was mostly copied (much closer to the original). I ended up re-programming it in Keras.

[2017-08-04 08:45] budiryan opened #2189 "Problem of Seq2Seq Distributed Training Using BMUF"
When I run the default SequenceToSequence example with the default data provided by CNTK
(https://github.com/Microsoft/CNTK/blob/master/Examples/SequenceToSequence/CMUDict/BrainScript/G2P.cntk) with BlockMomentum parallel training enabled for <b>4 workers</b>, the workers only sync once per epoch. Changing it to <b>3 workers</b> also didn't help. Only after we changed it to <b>2 workers</b>, the w

[2017-08-04 08:49] meijiesky opened #2190 "Questions on Decoder"
I am doing some NLP work using CNTK with Python and I have some questions on the decoder.

1. Now there is no beam search decoder and I hope that it can be on your to-do list soon.

2. According to the tutorial 204, the greedy decoder will output the token with the maximum probability at each generation step. However, sometimes the token generated is "unk" (word out of vocabulary) so I think durin

[2017-08-04 09:35] Stonesjtu opened #2191 "MPI missing in docker image"
Pulled the newest docker image by `docker pull microsoft/cntk` and then tried to run with `mpiexec` to get multi-GPU support.
But the MPI binaries are not installed in the official docker image.
And I also tried to install an `openmpi` from ubuntu package manager, but it can't start as expected.

[2017-08-04 13:59] pepetko80 opened #2192 "Batch mean computation in CNTK/brainscript"
I would like to subtract the minibatch mean from the input. This is performed along with variance normalization and affine transform by BatchNormalization. However, I'd like to isolate this specific operation. Simply put, how can I compute (gain access to) the minibatch mean (using a brainscript interface)?

Thank you!

[2017-08-04 14:02] vermorel opened #2193 "Non-zero L2RegWeight causes 'Feature Not implemented' exception"
When using a non-zero value in BrainScript for `L2RegWeight` combined with sparse inputs, `cntk.exe` fails with the following error:

[code]

[2017-08-04 15:13] cha-zhang opened #2194 "Iteration Plan (August - September 2017)"
This plan captures our work from early August to mid September. We will ship around September 15th. Major work items of this iteration include Volta 16bit support and C#/.NET API. There will also be numerous other improvements we will make as detailed below.

# Endgame
- September 11: Code freeze for the end game
- September 15: Release date

# Planned items
We plan to ship these items at the end

[2017-08-04 16:04] vermorel commented on #2180
Might be a duplicate of #2143

[2017-08-04 18:01] KeDengMS commented on #1638
Evaluator in python supports multiple GPUs. @eldakms, do you think it can be implemented for BS?

[2017-08-04 18:14] liqunfu commented on #2193
@vermorel
This is a known limitation of CNTK - cannot use L2RegWeight with sparse inputs. I put a feature request for it.
Thanks.

[2017-08-04 18:17] liqunfu commented on #2192
@pepetko80
Please take a look at this:
https://www.cntk.ai/pythondocs/cntk.ops.html?highlight=reduce_mean#cntk.ops.reduce_mean

for example:

array([ 1.,  5.], dtype=float32)

[2017-08-04 18:21] liqunfu commented on #2191
@Stonesjtu
May you do this first? (No need to install openmpi)
export PATH=$PATH:~/openmpi/bin

[2017-08-04 18:31] liqunfu commented on #2180
To make sure it is a duplicate issue of #2143

[2017-08-04 18:49] liqunfu commented on #1838
CPU memory was used to evaluation. Two factors that affect memory usage, memory sharing and input unrolling.
Kernel size affect increased memory usage by unrolling. Here if kernel size is reduced to 2, memory usage get halved. Memory sharing may explain partly of rest increased memory usage.

[2017-08-04 19:18] diospyros opened #2195 "Custom Criterion Function in Python"
My current understanding of the criterion function for the Trainer module is a per sample computation ..

How do I create a criterion function which is a function of all of the predictions in the data set?  For instance, if I have hierarchical groupings (specified as flags) and want to the objective function to be dependent upon the behavior of the predictions within these groupings, then I need t

[2017-08-04 21:46] rems75 opened #2196 "CloneMethod.freeze"
Hello,
I'm using the code from CNTK/Examples/ReinforcementLearning/DeepQNeuralNetwork.py to do a few experiments.
And surprisingly the CloneMethod.freeze does not seem to work. Evaluating the target network self._target_net and the "real" one self._action_value_net on the states during training gives the exact same q values at each time step.

Second remark, adding unit_gain=False to the adam lear

[2017-08-04 23:46] sayanpa commented on #2184
I see a thumbs up. Assuming you are happy with the answer and closing this issue. If you need help feel free to open an new one. Thanks.

[2017-08-04 23:46] #2184 closed

[2017-08-04 23:50] sayanpa commented on #1961
Have you tried your network with CNTK set as the backend of Keras. https://docs.microsoft.com/en-us/cognitive-toolkit/using-cntk-with-keras

Once you get it working with Keras. We can translate the model to CNTK front end. With LSTM you should see a speed up with CNTK set as backend. Moving to CNTK API should be very straight forward since our API's are close to Keras.

Let us know how the Keras A

[2017-08-04 23:51] danielsc commented on #960
We just posted the iteration plan for the August iteration: https://github.com/Microsoft/CNTK/issues/2194
In this first version of a .NET training API. We aim to enable building and training of simple models like MNIST.

[2017-08-05 00:17] arduano commented on #1961
It didn't go as well as I wanted because the CNTK backend doesn't support stateful LSTMs. But I did end up finding a way around that and training it without using stateful, and then sampling with stateful using the TF backend.

Why doesn't Keras support stateful with CNTK? The performance boost is impressive, but most of my LSTM projects work best with stateful models.

[2017-08-05 00:29] sayanpa commented on #1961
Can you share any one of your simpler stateful models in Keras that you are referring to? May be as a download link or via email if you prefer.

[2017-08-05 01:49] arduano commented on #1961
[Keras_char_LSTM.zip](https://github.com/Microsoft/CNTK/files/1201992/Keras_char_LSTM.zip)
I tried re-creating my char LSTM in Keras

[2017-08-05 01:53] kyoro1 opened #2197 "GraphViz's executables not found"
In executing Faster R-CNN with the following path:
https://github.com/Microsoft/CNTK/blob/master/Examples/Image/Detection/FasterRCNN/FasterRCNN.py

The following error has generated:

[code]

Do we need `graphviz` in executing Faster r-cnn?

[2017-08-05 08:27] mortengryning commented on #2197
I just installed it and the error went away :-)

[2017-08-05 08:35] mortengryning opened #2198 "UWP ARM"
HI.

I just wanted to (also) say that while the release of the UWP library is great, it really lacks the support for ARM.

What I would imagine many would use the new UWP evaluation library for, is training a model on the PC and then using the model on smart devices such as the Raspberry Pi 3/Arduino running Windows 10 IoT.

 So, like others, I'm looking forward to/hoping for the UWP library for A

[2017-08-05 09:13] kyoro1 commented on #2197
OK, thanks:) I did it!

Indeed, I installed `Graphviz` and set `PATH` in my PC. Then, succeeded!
Also found a comment in CNTK:
https://github.com/Microsoft/CNTK/blob/909e5235be893f1af55105c74dc1e2fe798645e4/bindings/python/cntk/logging/graph.py

[code]

So, issue was closed.

[2017-08-05 09:13] #2197 closed

[2017-08-05 12:58] komal436 opened #2199 "API to convert CSV to CTF format?"
Do CNTK has an api to convert CSV/TSV file to a CTF format file?

[2017-08-05 14:01] JimSEOW commented on #960
# CNTK for ARM
(**W10M**  Windows Mobile ; W10 on ARM [**W10A**] and W10 **IoT Core** on ARM)

Issues involved

- [How to Build CNTK for ARM64?](https://github.com/Microsoft/CNTK/issues/1976)
- [ARM support?](https://github.com/Microsoft/CNTK/issues/1185)
- [UWP ARM](https://github.com/Microsoft/CNTK/issues/2198)

[2017-08-05 15:03] cha-zhang commented on #2198
We are not officially support ARM yet, but CNTK can be built with ARM64 as is today. This is how we run the 1-bit convolution code on Raspberry Pi.

@sayanpa , @zhouwangzw , feel free to add more details.

[2017-08-05 15:05] ivan-alles opened #2200 "Read function parameters from a model"
I have a convnet loaded from a file and would like to compute some of its properties. To do that, I need to go through all the layers and get their types. I figured out how to do this. Now I need to find out some parameters of the layers. For example, for the MaxPooling and Convolution2d I need to know the filter shape and the stride. Is it possible to do this?

[2017-08-05 16:37] zhouwangzw commented on #2198
We have prototype running CNTK on Linux (Ubuntu 14/16 or Debian) on boards like PINE64 or Qualcomm Dragonboard 410C. Unfortunately we have not tried that on Windows on ARM, neither on UWP platform. For building UWP library on ARM, you also need to build OpenBLAS for UWP on ARM.

[2017-08-05 17:10] cha-zhang commented on #2200
https://docs.microsoft.com/en-us/cognitive-toolkit/How-do-I-Read-Things-in-Python

[2017-08-05 17:16] ivan-alles commented on #2200
As far as I understand, that allows me to read the shape of the kernel for the convolutions. How about stride of the convolution and kernel shape and stride of the MaxPooling (it has no weights in this sense)?

[2017-08-05 18:09] JimSEOW commented on #2198
@zhouwangzw The Qualcomm Dragonboard 410C is W10 IoT Core compatible.

[2017-08-06 05:11] liqunfu commented on #2199
will this work for you instead:
https://github.com/Microsoft/CNTK/blob/master/Manual/Manual_How_to_feed_data.ipynb
or
https://github.com/Microsoft/CNTK/blob/master/Scripts/txt2ctf.py

[2017-08-06 09:13] Stonesjtu commented on #2191
@liqunfu
Thanks for your solution, an additional error says that `mpi4py` is missing.
I can solve it by `pip install mpi4py`, but it should be better if you can make the mpi version available out of the box. That's what docker means.

[2017-08-06 14:45] DabiaoMa opened #2201 "The "needs_gradient" option for "input_variable""
I noticed that there is an argument for "input_variable" ：”needs_gradient=False"

What does it mean? And how do I use the gradient of the “input_variable"?

[2017-08-06 21:20] zhouwangzw commented on #2198
@JimSEOW Win10 IoT Core on ARM currently only supports 32-bit, and will extend to 64-bit perhaps by end of this year. When 64-bit support is available, it "should" be feasible to run CNTK UWP on ARM, assuming OpenBLAS could also be complied for UWP on ARM. Currently we do not have any TOA for that yet, and are very appreciated for contribution from you and other folks from the community.

[2017-08-07 00:53] #2143 closed

[2017-08-07 02:33] meijiesky commented on #2194
Looking forward to new examples for NLP. Thanks.

[2017-08-07 06:12] boeddeker commented on #2187
@KeDengMS is it possible to extend the wiki under the link to contain an example, what the user can expect from the profiler? The last time I used the profiler, it didn't gave me the expected output, so I wasted some time to figure this out.

[2017-08-07 06:33] Pierrick1001 commented on #2161
I am the only one to have this bug ?
I tried to put -fPIC option in the command but it does not work

[2017-08-07 06:59] JimSEOW commented on #2194
@meijiesky  could you help to list what new examples of NLP that can be done in tensorflow but still with no examples in CNTK? Thank you

[2017-08-07 07:01] JimSEOW commented on #2198
@zhouwangzw Perhaps this topic will appear in future TOA. :-) It is good to let the community know what they could contribute. => check if OpenBLAS can be compiled for ARM under VS2015/2017

[2017-08-07 07:06] fathomson opened #2202 "Using other base models in faster rcnn"
By default the faster rcnn has a config for the AlexNet and VGG16 base models.  I tried to get it to work with ResNet however I was not able to find the correct config parameters. I've used print parameter and plot() to look for the required node names, however not successfull.
How can I get faster rcnn to work with i.e. ResNet base model.

[2017-08-07 07:30] eldakms commented on #1638
eval command in brain script also performs evaluation on multiple gpus.

The initial question is about "write" though, which is always performed on the main worker.

[2017-08-07 07:39] meijiesky commented on #2194
I am interested in seeing examples on using **reinforcement learning** to generate dialogue responses and **GAN** to train the language model.

There are two reinforcement learning examples, CartPole and FlappingBird. In NLP, there are some differences.
1. The action space is huge because we need to sample one word from the vocabulary.
2. The reward is calculated using networks rather than being i

[2017-08-07 07:55] aaic-lisheng commented on #2156
@hajix thank you for showing us your training settings, how about decoding? is there any tricks?

[2017-08-07 08:37] whaozl commented on #2187
@KeDengMS @boeddeker  I use the logging to calculate the time of each batch, the model is as follows:
···
def unbi_model_seq2seq(num_embed,num_lstm_layer,num_hidden,label_vocab_len):
    with cntk.layers.default_options(init=xavier()):
        model = Sequential([
            Label('input'),
            Embedding(num_embed, name='embed'),
            Label('embeded_input'),
            Stabilizer(

[2017-08-07 08:44] pepetko80 commented on #2192
Thank you Liqun! The provided example uses the Python interface. Can I assume that the first line of the (BrainScript) model description below will do what I need. It seems logical assuming the Reader puts a whole batch into the input ("features") variable.

model (features) = {
h0 = (features - ReduceMean(features, axis=2))
h1 = DenseLayer {2048, activation=Sigmoid} (h0)
...
z = LinearLayer {labe

[2017-08-07 08:52] #2144 closed

[2017-08-07 08:55] zhouwangzw commented on #2198
@JimSEOW Thanks for your interest. Currently this is probably the only thing can do. We have contributed to [OpenBLAS to make it UWP compatible on X64](https://github.com/xianyi/OpenBLAS/wiki/How-to-use-OpenBLAS-in-Microsoft-Visual-Studio#build-openblas-for-universal-windows-platform), but need to check whether it is also the case for UWP on ARM.
When Win10 IoT on ARM64 is available, the commity c

[2017-08-07 09:00] pkranen commented on #1913
Closing this issue, feel free to reopen if questions remain.

[2017-08-07 09:00] #1913 closed

[2017-08-07 09:09] e-thereal commented on #2194
Does point 2 under performance (Intel MKL update to improve inference speed on CPU by around 2x on AlexNet) refer to the MKL-DNN library integration or is the speed-up caused by an update of the MKL library to a newer version? I'm most eager to try the MKL-DNN integration. :)

[2017-08-07 10:42] JimSEOW commented on #2194
@meijiesky FYI, I do not work for CNTK team. A few months back, some of the CNTK users decided to gather to consolidate our feedback for the need to have .NET modeling of CNTK networks beyond simply evaluation. This is happening FINALLY, step by step.

Another important milestone is to bring CNTK to UWP(x64bits) - done, UWP(ARM64, for both W10 on ARM64 and IoT Core Pro for ARM64).

Most important

[2017-08-07 11:37] meijiesky commented on #2194
@JimSEOW Thanks for your explanation. Personally, I think CNTK processes RNN networks mush faster than other DL frameworks and that's why I choose CNTK to do NLP. However, CNTK is a fresh new Tool compared to Tensorflow, and there are not as many resources in CNTK as in Tensorflow, making CNTK users sometimes have trouble resolving their problems or not able to find resources to refer to. If there

[2017-08-07 11:51] JimSEOW commented on #2194
@meijiesky ideally we have a simple example showing **side by side** in what way tensorlfow is modeled differently from CNTK NETWORK.
![2017-08-02_10-16-52](https://image.slidesharecdn.com/024alizaidi-170619124255/95/natural-language-processing-with-cntk-and-apache-spark-with-ali-zaidi-16-638.jpg?cb=1497876234)
Where are the similarities and where are the differences that need to take note to high

[2017-08-07 14:31] veikkoeeva commented on #2194
@e-thereal

A linki at https://gitter.im/Microsoft/CNTK?at=5985a8d81c8697534a8e23d6 (https://www.nextplatform.com/2017/03/21/can-fpgas-beat-gpus-accelerating-next-generation-deep-learning/, though other links there might interest you also) that also discussed MKL-DNN, might be of interest.

[2017-08-07 15:38] eldakms commented on #2181
Unfortunately we do not yet officially support gcc 6.2, currently supported version is 4.8.
If it is not too cumbersome for you, could you please create a pull request with this fix? Thank you very much!

[2017-08-07 15:48] #2193 closed

[2017-08-07 15:54] eldakms commented on #2200
You are using the python, correct? If I'm not mistaken they should be exposed in Function.attributes, are they not? Thanks!

[2017-08-07 16:00] ivan-alles commented on #2200
Yes, I'm using python. For both Convolution and MaxPooling Function.attributes are empty dictionaries.

[2017-08-07 16:04] eldakms commented on #2200
Then this is a bug, let me reassign this. All function attributes should be available to the outside world thru .attributes dictionary. Thanks!

[2017-08-08 01:17] Aminullah6264 opened #2204 "Unable to load may MyModel.dnn in C#"
i have train my object detection model on FastRCNN using python and save it using save_model("MyModel.dnn").
Now i try to wright script to evaluate it in C#. it throw an exception on following encircle line.
that Error: Sequence contains more than one element.
please help me to solve this problem problem.
This is my code for loading model, i have follow the steps, which is given in CNTK examples

[2017-08-08 05:04] #1805 closed

[2017-08-08 08:02] mahilleb-msft commented on #1805
Thanks, it's gone now.

[2017-08-08 08:51] DabiaoMa commented on #2201
Or would anyone please show me how to get the gradient of the input_variable??

[2017-08-08 12:20] vermorel commented on #960
For the reference, I would like to point the .NET deep learning project: [Alea Tk](http://www.aleatk.com). Their [C# integration](http://www.aleatk.com/release/0_9_0-beta3/doc/tutorials.html) is impressive. They achieve [C++ GPU speed with C# and .NET](http://blog.quantalea.com/gpu-computing-on-dotnet-at-speed-of-cuda-cpp/). I am personally impressed by the work done by QuantAlea.

[2017-08-08 13:26] pkranen commented on #2204
Fast R-CNN requires two inputs (hence "Sequence contains more than one element"), the first is the image and the second are the ROI proposals (see [this tutorial](https://docs.microsoft.com/en-us/cognitive-toolkit/Object-Detection-using-Fast-R-CNN#algorithm-details) for more details). For evaluation in Python see `evaluate_fast_rcnn()` method in `A2_RunWithPyModel.py`:

[code]

In C# you would nee

[2017-08-08 13:30] Aminullah6264 commented on #2204
Dear @pkranen
i don't have ROIs for Test images.
i train my model on images of 10 videos
now i want to test it for more videos in which i don't have ROIs
i want that model should predict ROIs for me

[2017-08-08 13:35] pkranen commented on #2204
The model does not predict ROIs, it requires ROIs as an input and predicts whether and which object is in the ROI. You can try [Faster R-CNN](https://github.com/Microsoft/CNTK/tree/master/Examples/Image/Detection/FasterRCNN) which has a region proposal network and does not require ROIs as an input. There will be a tutorial added on Faster R-CNN in the coming weeks, for now please use the Readme fi

[2017-08-08 14:17] pkranen commented on #2202
ResNet is not yet supported since currently we only have ROI max pooling and not ROI average pooling.

[2017-08-08 14:33] GaryLensar commented on #1473
'playing' in Python is all well and good but without C++ documentation its close to useless for app developers right now. I have wasted weeks trying to convert a python model to C++. I may reluctantly switch to dlib.

[2017-08-08 14:37] cha-zhang commented on #1473
Thanks all for the comments. I know this is long overdue.

I'm reopening this issue to keep track of it.

[2017-08-08 16:21] #2157 closed

[2017-08-08 16:21] #2202 closed

[2017-08-08 16:21] #2204 closed

[2017-08-08 16:26] souptc commented on #1961
@arduano , with CNTK 2.1 release, we do support stateful lstm in keras. Please update your keras to latest in keras master branch, and install CNTK v2.1.

I tried your script, it seems works with latest Keras and CNTK:
`
9998 / 10000
9999 / 10000
Itt:
! now the Prince the !`

except one thing: in model "sample.json", for the LSTM layer, you should set the unroll to false:
`return_state": false, "g

[2017-08-08 16:52] bencherian commented on #2194
@cha-zhang Do you know if the MKL plans on using the NN "primitives" that are available in MKL 2017? I imagine this could result in performance improvements for inference on CNNs even without a full transition to MKL-DNN. Or is the main performance improvement coming from running GEMM with AVX 512 on Skylake-SP? (i.e., no performance improvements expected on older Intel processors.)

[2017-08-08 18:29] mahilleb-msft commented on #2191
@Stonesjtu - could you clarify where the "mpi4py is missing" message is coming from? I.e., what are your repro steps.
Assuming you activated CNTK (source "/cntk/activate-cntk") the MPI libraries should be in path, but mpiexec is not. This should be fixed by @liqunfu, and we'll add it to the default configuration in the future.

[2017-08-08 18:30] mahilleb-msft commented on #2015
I'm closing this. Please re-open this issue if there's more info to share.

[2017-08-08 18:30] #2015 closed

[2017-08-08 18:30] mahilleb-msft commented on #2191
@alexeyo26 - we should extend the PATH in the DockerHub images to include mpiexec...

[2017-08-08 18:34] #2121 closed

[2017-08-08 18:34] spandantiwari commented on #2121
PR has merged. Closing this issue now.

[2017-08-08 18:48] spandantiwari commented on #2001
@ujjwal-researcher Could you explain what you mean by "augmentation is dynamic"? I am just trying to understand this better. Is there something that blocks you from doing it outside of CNTK as @JohnCraigPublic is suggesting? Or are you thinking about speed/performance issues related to doing outside the CNTK graph?

[2017-08-08 18:57] spandantiwari commented on #1613
We will offer a semantic segmentation example soon. Please stay tuned.

[2017-08-08 18:59] spandantiwari commented on #1464
Could you share the detailed error stack and the config files.

[2017-08-08 19:02] spandantiwari commented on #703
We will offer a semantic segmentation example soon. Please stay tuned.

[2017-08-08 19:05] spandantiwari commented on #516
@bulatGH What do you mean by using 2D images as labels? Do you mean something like semantic segmentation of images where each pixel is assigned a label? Or is it something else?

[2017-08-08 19:13] bulatGH commented on #516
@spandantiwari, Yes, something like semantic segmentation or U-nets.

[2017-08-08 21:46] JimSEOW commented on #2194
Scenario involving [recent request](https://github.com/Microsoft/CNTK/issues/2204#issuecomment-320957695) for Faster R-CNN

[2017-08-08 22:22] KeDengMS commented on #2187
@whaozl Are you running on GPU or CPU? What's the length of sequence? I tried your script with random sequence length with max of 100, and 128 sequences. It runs on TitanX with 0.134s per minibatch for 2.1, and 0.130 in 2.0.

Here's the output of profiler:
_Minibatch Iteration      :       133.983 ms         0.812 ms       133.486 ms       137.229 ms               19      2545.674 ms
__Forward + B

[2017-08-08 22:35] KeDengMS commented on #2189
data may not be evenly distributed among workers especially when randomization is enabled and with a small minibatch size. This could leads to differences in sync frequency for BMUF. Please try turn off randomization in reader and see if the issue still occurs.

[2017-08-09 02:12] nmfisher commented on #960
+1 for C# support.

[2017-08-09 02:58] Aminullah6264 commented on #2204
Dear @pkranen
can i train FasterRCNN to detect ROIs using the following setups given in your Examples.

[2017-08-09 06:32] budiryan commented on #2189
You're right, thanks for the help

[2017-08-09 06:32] #2189 closed

[2017-08-09 11:24] arduano commented on #1961
Great. So as long as I use Keras, I'm fine. Thanks!

[2017-08-09 11:24] #1961 closed

[2017-08-09 12:02] mfuntowicz commented on #2196
Hi @rems75,

Regarding Adam learner, it might not handle correctly the unit_gain parameter, Nikos might be able to agree or not on this point. When using Adam, I would argue to stay on the unit_gain=True parameter for now.

Regarding the Clone method how did you evaluate the output of both network ?

The target network is updated from the action_value one every (_by default_) 40k steps. If you loo

[2017-08-09 12:09] eldakms commented on #2201
I think it is an inconsistent API, because there is currently no way to actually fetch the gradient values from the input variable (potential scenario - if you want to see the gradients and update the original image like they do in deep dream or something).

[2017-08-09 12:12] eldakms commented on #2199
Currently there is no such converter. For CSV user deserializer have a look at https://github.com/Microsoft/CNTK/blob/master/Manual/Manual_How_to_write_a_custom_deserializer.ipynb

I am closing the issue for now, feel free to reopen if needed. Thanks!

[2017-08-09 12:12] #2199 closed

[2017-08-09 13:03] julienlopez commented on #1613
Awesome, can't wait to see it :)

[2017-08-09 18:10] KeDengMS commented on #1617
When the matrix is in GPU, GetIndex() returns a pointer to the GPU memory so you cannot directly access from CPU. You should use cudaMemcpy to copy the memory from device to host first.

[2017-08-09 18:14] KeDengMS commented on #1397
Currently it's the user's responsibility to set the appropriate minibatch size for the first epoch. We may have auto tuning in the future to start training from minibatch_size of 1, but even with that you may still run OOM for big models like VGG on a GPU with small memory.

[2017-08-09 18:18] KeDengMS commented on #1606
An easier way is to invoke NVidia-smi and parse the GPU memory usage from its output. Putting an wrapper in CNTK on top of nvml does not seem to be the best solution.

[2017-08-09 18:19] KeDengMS commented on #1411
Can you try with latest CNTK in python? We have added support for 2D sparse in recent builds.

[2017-08-09 18:25] KeDengMS commented on #1054
Block sparse is mainly to address sparse gradient aggregation for embeddings. What we really need is gather/scatter with index, and furthermore aggregation in distributed training

[2017-08-09 20:00] snarb commented on #1473
When batch is not large c++ is defintly a better choice for the production  if you care about the perfomance.  Ricently I have converted one famous research code from tourch to c++  with eigen and got  2x perf boost. That is more than they got with their new algorithm. And lua is much faster then python.

[2017-08-09 20:22] nliu86 commented on #2115
Thanks! That's good insight. For one GPU machine, which option is better for parallel training: nccl or mpi?

[2017-08-09 20:30] KeDengMS commented on #2115
NCCL is faster than MPI when you run multi-GPU distributed training. NCCL 1.3 only supports single machine. NCCL2 supports multi-machines and we are working on integrating it.
MPI works for both single machine and multi machine distributed training.

[2017-08-10 03:33] whaozl commented on #2187
@KeDengMS I found that  it takes 2s about a batch whenthe number of label categories is 99 of Chinese POS tagging, the speed as your almost when  the number of label categories is 10. I run your test benchmark code, the speed is basically the same. Is this speed related to the sample?

[2017-08-10 07:59] Ark-kun commented on #1896
I've just verified that this issue is still not fixed:
[code]

[2017-08-10 08:03] Ark-kun commented on #2116
Hello, @mahilleb-msft

This is still a problem when installing under Anaconda:
See https://github.com/Microsoft/CNTK/issues/1896#issuecomment-321480268

[2017-08-10 08:05] wolfma61 commented on #1896
Not sure … your documentation recommends for creating the environment:
https://docs.microsoft.com/en-us/cognitive-toolkit/setup-windows-python

conda create --name cntk-py34 python=3.4 numpy scipy h5py jupyter

that should also work for python 3.6

From: Alexey Volkov [mailto:notifications@github.com]
Sent: Thursday, August 10, 2017 10:01 AM
To: Microsoft/CNTK <CNTK@noreply.github.com>
Cc: Wolfgan

[2017-08-10 08:40] Ark-kun commented on #1896
@wolfma61

`conda install scipy` seems to be working too.

The documentation is a bit misleading here: https://docs.microsoft.com/en-us/cognitive-toolkit/setup-windows-python?tabs=cntkpy21#anaconda3

There is a little "pip install without an environment" small-heading section which seems to advice the global installation, but does not tell you that installing inside an environment would fail.

Aft

[2017-08-10 08:46] wolfma61 commented on #2116
the related #1896 has been solved

[2017-08-10 09:55] Ark-kun commented on #2195
Criterion can produce either a single value or a bigger tensor of values. In the latter case, the values are summed. If you want to use different aggregation, just apply some sequence or batch aggregations/reductions and use the resulting value as the criterion.

[2017-08-10 09:56] manolodepuerto opened #2208 "GPU Nvidia Quadro 6000 not detected by cntk.all_devices()"
I have installed an Nvidia Quadro 6000 GPU on a PC with the latest driver updates, and it is not being detected by CNTK. I have installed the precompiled version of CNTK 2.1 for python 3.5 for GPU, installed CUDA and other dependencies.

However, when using cntk.all_devices() I only get 1 device, CPU. Attempting to set the GPU as the default with try_set_default_device() subsequently fails since C

[2017-08-10 10:00] Ark-kun commented on #2173
I think CNTK should make the default `times()` behavior non-broadcasting.
The default behavior is confusing for even simple scenarios.

It further breaks Tensor by vector multiplication when the tensor has more than 2 dimensions.

[2017-08-10 10:17] Ark-kun commented on #1460
You can use the the functions from cntk.ops.sequence.* to reduce the sequences https://cntk.ai/pythondocs/cntk.ops.sequence.html?highlight=reduce_sum#cntk.ops.sequence.reduce_sum

`cntk.ops.reduce_sum` can be used to reduce across the batch axis: https://www.cntk.ai/pythondocs/cntk.ops.html?highlight=reduce#cntk.ops.reduce_sum

[2017-08-10 13:57] L-Ramos opened #2209 "Documentation of ConvolutionalLayer"
I'm using the sample code from:
https://github.com/Microsoft/CNTK/blob/master/Examples/Image/Classification/ConvNet/BrainScript/ConvNet_CIFAR10.cntk

Here we have a ConvolutionalLayer function that I just can't find any documentation from.
I'm used to working with nld files and I had a Macros.nld where I was able to define the functions like this:

ConvBNLayerW(W, inp, outMap, kW, kH, hStride, vSt

[2017-08-10 17:08] sayanpa commented on #2106
@rems75: Do you have a fix for the problem? If you do can you share the fix or issue a PR

[2017-08-10 18:03] cha-zhang commented on #2209
If you are using BrainScript, the reference is here:
https://docs.microsoft.com/en-us/cognitive-toolkit/Using-CNTK-with-BrainScript

In particular, ConvolutionLayer:
https://docs.microsoft.com/en-us/cognitive-toolkit/brainscript-layers-reference#convolutionallayer

[2017-08-10 19:00] sayanpa commented on #1423
CNTK allows for controlling your learning rate as well as custom exit logic for early stopping. We have several options in the CNTK/Manuals directory. You may want to start with removing Auto Adjust.

Given this issue has been open for so long I am closing it. But feel free to reopen and new one if you need help.

[2017-08-10 19:00] #1423 closed

[2017-08-10 19:22] rems75 commented on #2106
@sayanpa In the end I simply cast the booleans in the "terminals" array into integers, which worked.
It might be worth adding a check or conversion though, since a state being terminal or not might be a boolean in certain environments.

[2017-08-10 19:29] sayanpa commented on #1483
The example has been updated. There is also a tutorial CNTK 204 that has detailed explanation to the individual code blocks. Please refer to it.

Closing this issue for now. In case you need further help, please open an issue and we will address your concerns.

[2017-08-10 19:29] #1483 closed

[2017-08-10 19:46] sayanpa commented on #1954
Here is my understanding:
x = time it takes to execute a node
y = time it takes for all the nodes to finish
z = average time taken to execute all the nodes

Given this issue is open for two months. I am going to close it with the assumption that the answer is satisfactory. If clarification needed, please reopen or open a new issue.

[2017-08-10 19:46] #1954 closed

[2017-08-10 20:22] pedronahum commented on #2194
@JimSEOW

If I can a few (mexican) cents :)

Lately I am very interested in the field of reinforcement learning. And if you try to find a recent reproduction of a recent paper or even the actual code of the paper (eg, curiosity driven exploration, unreal, a3c, ga3c, paac, pedictron, etc), you most likely find a tensorflow implementation. Moreover, OpenAI has started to provide rl algorithms in ten

[2017-08-10 21:24] sayanpa commented on #2106
Thanks @rems75: Would you mind submitting a small Pull Request? Or just attach the code here and I will merge the changes.

[2017-08-10 21:25] sayanpa commented on #1383
Change integrated into master.

[2017-08-10 21:25] #1383 closed

[2017-08-10 21:46] KeDengMS commented on #2187
@whaozl Please check the profiler output and see if _Forward + Backward changes in your scenario. I think the slowdown may come from data input.

[2017-08-11 00:48] sayanpa commented on #2056
Incorporated your changes into our introductory CNTK 101 tutorial.

[2017-08-11 00:48] #2056 closed

[2017-08-11 01:17] JimSEOW commented on #2194
@pedronahum  A Mexican with a banker job in day time while pushing data science's envelop will always have some interesting views.

=> First, CNTK has to take on the challenges in multiple fronts. However, we need to prioritize them while keep collecting feedback and suggestions and communicating at the same time that these suggestions are being "agile" not just from the CNTK team but as part of a

[2017-08-11 06:47] whaozl commented on #2187
@KeDengMS Thank you very much, Can you provide a example about input and label are sparse, I only found input is sparse in cntk, I tried the input and label sparse, but had the error.

[2017-08-11 07:43] L-Ramos commented on #2209
Perfect, Thanks

[2017-08-11 07:43] #2209 closed

[2017-08-11 11:05] xgirones commented on #618
Is it possible to use the release build of the C++ CNTK evaluator in a debug configuration?  I would like to debug my project, but employ the release version of CNTK for the sake of speed.

[2017-08-11 11:57] zhouwangzw commented on #618
@xgirones No, it is not correct to use the C++ release build in a debug configuration. You have to use release vs release, debug vs debug. For debug purpose, you can build your project using release configuration but turnning off optimization.

[2017-08-11 12:01] zhouwangzw commented on #2067
I hope that the issue has been resolved. I am closing the issue due to lack of responses. Please feel free to open an issue, if you still have questions/problems.

[2017-08-11 12:01] #2067 closed

[2017-08-11 12:58] xgirones commented on #618
Thanks. I will try it. Just curious, what is the reason for the incompatibility? The CRT maybe?

[2017-08-11 14:25] zhouwangzw commented on #618
The CNTK C++ API is using STL which has undefined bahavior when mixing debug and release builds.

[2017-08-11 14:42] Alan-Lee123 commented on #2194
I can provide a NLP example on [answer selection](https://arxiv.org/abs/1511.04108) using the dataset from [Microsoft Beauty of Programming 2017](http://studentclub.msra.cn/bop2017/rules/qualification). The model can achieve 58% MRR(Mean Reciprocal Rank) on validation set. Would you like it? @cha-zhang

[2017-08-11 14:48] cha-zhang commented on #2194
@Alan-Lee123 of course we would love to have your contribution! :)

[2017-08-11 16:48] michhar opened #2210 "Docker image not extracting on macOS as suggested"
Hi,

I'd love to get this working as I like CNTK as a framework.  It has been suggested to use the docker image for macOS in [#43].  However, I'm getting an error extracting at one of the steps in the `docker pull` command.  I'm trying CNTK latest on macOS with the docker image according to [these](https://docs.microsoft.com/en-us/cognitive-toolkit/CNTK-Docker-Containers) instructions.  I'm on mac

[2017-08-11 20:35] tkauf15k commented on #1708
hi,
i have the same problem with v2.1.0 with VS2017 and VS2015 update 3. Platform is set to x64. Surprisingly, the example project works, but i cannot figure out a difference... Since the example project works, i think that my environment is set up correclty as well (anaconda3 4.4.0)

Any ideas how i can fix this?

kind regards

[2017-08-11 20:47] hajix opened #2211 "RuntimeError: GetColumnIndex"
Hi

I get the following error after first minibatch of training:

Although the loss of first minibatch is inf, but the error is totally irrelevant!

Running my code on CPU just thrown core dump with no more info. Any help!

[2017-08-11 23:33] sayanpa commented on #2198
Assuming @zhouwangzw's answer was satisfactory, closing this issue. Please reopen or create a new issue.

[2017-08-11 23:33] #2198 closed

[2017-08-11 23:52] cha-zhang commented on #2164
The layer reference of BrainScript is available here:
https://docs.microsoft.com/en-us/cognitive-toolkit/BrainScript-Layers-Reference

BatchNormalizationLayer {spatialRank = 0,
                         normalizationTimeConstant = 5000,
                         initialScale = 1, epsilon = 0.00001, useCntkEngine = true}

It is very different from NDL and you should probably rewrite your Macro.bs.

[2017-08-11 23:54] cha-zhang commented on #2164
And here's the low level API:
https://docs.microsoft.com/en-us/cognitive-toolkit/BatchNormalization

BatchNormalization(input, scale, bias, runMean, runVariance, spatial, normalizationTimeConstant = 0, blendTimeConstant = 0, epsilon = 0.00001, useCntkEngine = true)

[2017-08-12 10:19] #2191 closed

[2017-08-12 10:22] alexeyo26 commented on #2191
The fix is in master. For Docker Hub images it will be in the next release (v.2.2)

[2017-08-12 15:57] xgirones commented on #618
Does this imply that there will be compatibility issues if I switch to another version of Visual Studio?

[2017-08-12 20:22] rajarsheem opened #2213 "/usr/local/cuda/lib64/libcudnn.so.6: file too short"
After installation of cntk 2.1, when I try to import cntk, I get the following error: /usr/local/cuda/lib64/libcudnn.so.6: file too short

However, with cntk 2.0 everything seems to work fine.

[2017-08-12 23:37] sayanpa commented on #2194
@Alan-Lee123 what would be a good way to get your example into our repository. We can chat offline if you prefer. LMK.

[2017-08-13 03:49] akzaidi commented on #2210
Hey michhar :)

Looks like it may be due to lack of disk space:
`write /root/anaconda3/envs/cntk-py35/lib/python3.5/site-packages/cntk/libs/libcublas.so.8.0: no space left on device`

Could you check space first:
`df -h`

[2017-08-13 06:28] zhouwangzw commented on #618
Usually yes, except both VS versions are binary compatible.

[2017-08-13 10:24] xgirones commented on #618
I tried CNTK and I think it is a great product. However, in my opinion this limitation is an obstacle for most commercial projects willing to integrate CNTK. And what will happen when future versions of CNTK migrate to VS 2017? Projects integrating CNTK will be forced to migrate as well, which is not always feasible.

Have you considered removing all external dependencies with STL and the runtime

[2017-08-13 12:24] rajarsheem commented on #2213
Issue is resolved once I did a fresh copy of the cudnn files again to the cuda dirs.

[2017-08-13 12:24] #2213 closed

[2017-08-13 12:33] Alan-Lee123 opened #2214 "confusing behavior in MinibatchSourceFromData.next_minibatch"
I am confused the behavior of function **_MinibatchSourceFromData.next_minibatch_** in [this file](https://github.com/Microsoft/CNTK/blob/master/bindings/python/cntk/io/__init__.py) when the data is sequence.
In line 699-708:
[code]
If the length of the first value of _self_.__data_ is bigger than _num_samples_, the loop will break with _end_ equals 0.

And then, in line 728, _mb_data_ will be **[

[2017-08-13 13:04] Alan-Lee123 commented on #2194
@sayanpa  I would love to share ideas with you.

[2017-08-14 03:32] meijiesky commented on #2214
CNTK text-format reader reads text-based files in its unique way. Please refer to tutorial 204 and the link below.

[https://docs.microsoft.com/en-us/cognitive-toolkit/brainscript-minibatchsize-and-python-minibatch_size_in_samples-in-cntk](url)

Wish this could help.

[2017-08-14 03:51] whaozl opened #2216 "how to use is_sparse?"
[code]
Specific code can be used in #2187 , but I switch is_sparse, the error is:
ValueError: Value::Create: The shape '[19]' of sequence #0 is not compatible with the sample shape '[40000]'.

[2017-08-14 06:06] Alan-Lee123 commented on #2214
@meijiesky Thank you very much. This link perfectly answers my question.
By the way, the crash problem I mentioned above still exists when one sequence length is bigger than the minibatch size.

[2017-08-14 06:37] rajarsheem commented on #1519
It looks like in Notebook, as you execute the cells with CNTK eval code more, GPU memory gets more and more occupied. Any idea how to reset everything before the next run ?

[2017-08-14 07:44] rajarsheem commented on #1591
I have the same problem. I am using Notebook, so more I run a cell with cntk model, more GPU memory gets occupied. Can we reset something before two consecutive runs ?

[2017-08-14 08:50] gaoxuesong commented on #1970
OK

[2017-08-14 09:57] meijiesky commented on #2190
@n17s Can I get some help please?

[2017-08-14 15:53] rajarsheem opened #2217 "matching between two sequences in cntk"
I have two mini-batch of sequences :
[code]

Both ```a``` and ```b``` has variable-length sequences.
I want to do matching between them where matching is defined as: match (eg. dot product) token at each time step of ```a``` with token at every time step of ```b``` .

How can I do this?

[2017-08-14 16:08] rems75 commented on #2196
Hi @mfuntowicz

I'm in touch with Nikos about the unit_gain question. The use_mean_gradient parameter is also a big difference between cntk and other frameworks.

Upgrading to CNTK 2.1 solved the issue with the target network. CloneMethod.freeze does not work on CNTK 2.0.

Cheers,
Remi

[2017-08-14 16:09] Alan-Lee123 commented on #2216
You need to convert minibatch_data to sparse mode. Try [Value.one_hot](https://cntk.ai/pythondocs/cntk.core.html?highlight=one%20hot#cntk.core.Value.one_hot)

[2017-08-14 16:42] vermorel commented on #1850
I am also getting those errors, mostly on super-large datasets (multi GB of binary data) which makes the problem hard to reproduce. However, it seems to happen in a rather deterministic fashion for some datasets.

[2017-08-14 18:26] sayanpa commented on #1519
Do you see the same thing happen if you run the code as python scripts? Trying to isolate it this is a notebook specific issue. Assuming you are using V2 or later version.

[2017-08-14 18:43] rajarsheem commented on #1519
I haven't checked but I guess it won't happen in that case since, analogously, restarting the kernel in notebook certainly clears the memory.

[2017-08-14 18:51] sayanpa commented on #1519
Sure. So as I understand in the notebook environment say you have the same reader and keep evaluating the same model in a loop the memory grows. When running python files, the same evaluation call does not cause memory to grow. Please correct me if I am mistaken.

[2017-08-14 18:58] rajarsheem commented on #1519
You are absolutely right. I have also observed that only running the notebook cell that just contains the model graph, and not any eval, also increases the GPU memory.

[2017-08-14 20:33] frankibem commented on #2201
@eldakms Unless I'm misreading the question, I'm not sure what you mean when you say:

If you do:
[code]

Then you can compute the gradient of f wrt x as:
`f.grad({x: data}) # (array([[ 2.09070253,  2.85888004]], dtype=float32))`

If on the other hand, needs_gradient wasn't set, then you would get the error:

@DabiaoMa what you would use this for depends on the problem you're trying to solve - you

[2017-08-14 21:16] sayanpa commented on #1519
The notebooks are typically designed for educational / presentation purposes. There are discussion indicating running a notebook may not be ideal. We will keep an eye on this problem and fix anything that may be CNTK specific.

[2017-08-14 21:27] rajarsheem commented on #2217
@sayanpa Any thoughts on this. Please tell me if you need more information about the scenario .

[2017-08-14 21:31] sayanpa commented on #2217
Can you extend CNTK 202 model, to build a input->model->output representation for both input a and b. Then do a cosine distance between the two. This is similar to DSSM.

[2017-08-14 21:46] rajarsheem commented on #2217
Ok. But I was going to compute scores between every word of  a and b. Is that possible right now ?

[2017-08-15 02:04] meijiesky commented on #2217
@rajarsheem If a and b are of the same length, you can use C.classification_error. Refer to https://cntk.ai/pythondocs/cntk.metrics.html.

[2017-08-15 03:11] T-Umezaki commented on #969
Same issue  also occurred in Python 3.6, so I will share it.
Http://qiita.com/T_Umezaki/items/06c2e7ad1d9c2abab7f0

[2017-08-15 03:36] pallashadow opened #2218 "how to check cudnn version?"
I installed cntk via miniconda.
I installed cudnn 6 manually some days ago, and planning to update it to cudnn 7.
is there any way to check whether cudnn in correctly installed?
and how can I print the cudnn version CNTK is currently using?

[2017-08-15 03:43] ShuyuZ opened #2219 "retrain model using python api"
I want to retain the fast rcnn model which I have input training data A before. Now, I would like to add data B to optimize this model. So I modify A2_RunWithPyModel file,
[https://github.com/Microsoft/CNTK/tree/master/Examples/Image/Detection/FastRCNN](url)
First,I comment the following codes out,
`if os.path.exists(model_path):
    trained_model = load_model(model_path)
else:
    trained_model =

[2017-08-15 07:54] rajarsheem commented on #2217
Hey, let me give an vivid yet simple example:   (it is similar to the gated-attention in R-NET model)
a = [ [1, 2, 3] , [4, 5] ]
b = [[6, 7], [8]]
So, for the first examples of a and b,
match(b->a) = [6*1+ 6*2 + 6*3, 7*1 + 7*2 + 7*3] .
Same thing will happen for the corresponding second examples in the mini-batch.

[2017-08-15 07:57] rajarsheem commented on #2217
At the base level, a score is getting computed S(i,j) = score between ith element of a and jth element of b where score can be (addition, dot etc.)

[2017-08-15 13:04] ishikasoni commented on #2109
Can I work on implementing acosh

[2017-08-15 13:06] lakshayg commented on #2109
@ishikasoni Sure! go ahead.

[2017-08-15 14:25] srini1948 commented on #2070
Sayan,

I have the “Pong from Pixels” described by Karpathy:

http://karpathy.github.io/2016/05/31/rl/

working with CNTK using the Policy Gradient method described in the “cart-pole” RL example.

The loss function is different from Karpathy too.

The interesting observation is it trains well in 13,000 episodes as opposed to over 35,000 for the Karpathy version.

If I were to convert this to a Jup

[2017-08-15 14:32] sayanpa commented on #2070
We definitely take contributions. Please use the deepRL framework. I believe it supports Pong game. Note we prefer tutorials that are supported in both windows and Linux environments.

[2017-08-15 14:58] srini1948 commented on #2070
The Atari games ( such as Pong)  in OpenAI’s Arcade Learning Environment are officially supported only on Linux and MacOS.

I found a Github source from which using a few hacks I was able to compile “Atari-py” using VS 2015

DeepRL framework that describes “cart-pole” is what I was hoping to modify for this.

Let me see how far I get with this – I am new to Python and Jupyter Notebook

( Is there

[2017-08-15 17:59] ebarsoumMS commented on #2218
You can' use cuDNN 7 with CNTK, unless you build CNTK from the source. It need to link with cuDNN lib.

[2017-08-15 17:59] #2218 closed

[2017-08-15 18:05] ebarsoumMS commented on #2216
The input need  to be sparse, you can use sklearn sparse format (CSR) or convert it to one hot presentation if that is your intentation.

[2017-08-15 18:05] #2216 closed

[2017-08-15 18:06] ebarsoumMS commented on #2211
Can you share the code?

[2017-08-15 18:08] duli2012 commented on #2035
Since no reply for more than three weeks, we close this issue now. We can reopen it later if needed.

[2017-08-15 18:08] #2035 closed

[2017-08-15 18:12] n17s commented on #2217
If the score is as in your example then you can just do
[code]
This would be much faster than a generic solution.

[2017-08-15 18:12] duli2012 commented on #2026
We are working on TensorBoard image support, and will ship it in our next release. You are certainly welcome to contribute to it once our first implementation is out.
Thanks.

[2017-08-15 18:12] spandantiwari commented on #2001
Closing this for now. Please reopen with more info (see above) if needed.

[2017-08-15 18:12] #2001 closed

[2017-08-15 18:15] ebarsoumMS commented on #2210
Check your disk space, if that is not the issue please reopen the issue.

[2017-08-15 18:15] #2210 closed

[2017-08-15 18:16] ebarsoumMS commented on #2208
What does NVidia-smi command show?

[2017-08-15 18:16] guillaume-chevalier commented on #2077
Would anyone have an idea on how much does this affects the speed? How important is that warning?

[2017-08-15 18:20] guillaume-chevalier commented on #2077
For now I guess that this performance issue also happens when using the TensorFlow backend, but that it is just silent in that case.

[2017-08-15 18:21] rajarsheem commented on #2217
Tried to do the same:
[code]
but got:
Operation 'ElementTimes': Operand 'Input('Input21', [#, *], [1])' has dynamic axes, that do not match the dynamic axes '[#]' of the other operands.

[2017-08-15 18:23] #2145 closed

[2017-08-15 18:26] spandantiwari commented on #1509
Please track issue #1613 for this request. Closing this one as duplicate.

[2017-08-15 18:26] #1509 closed

[2017-08-15 18:26] spandantiwari commented on #703
Please track issue #1613 for this request. Closing this one as duplicate.

[2017-08-15 18:26] #703 closed

[2017-08-15 18:27] spandantiwari commented on #516
Great. We are working on an example of semantic segmentation. Please track issue #1613 for that request.

[2017-08-15 18:27] #516 closed

[2017-08-15 18:27] ebarsoumMS commented on #2140
Sadly, CNTK doesn't support symbolic gradient so you can't use gradient as part of the loss (It is in our backlog). A workaround is to use F(x+r) - F(x), where r is a small uniform random value. You can use CNTK.random to generate random values.

[2017-08-15 18:31] n17s commented on #2217
Right, I should have elaborated a little more. First, your sequences are of different lengths and therefore you need to specify two dynamic axes, otherwise the same axis is used for both `a` and `b` and CNTK will complain that they have the same axis but different lengths. Second, you will need to broadcast the sum along `b`. Here's something that works for me:
[code]

[2017-08-15 18:50] hajix commented on #2211
The code relates to the exception is:

[code]

The issue is solved by setting `truncation_length` to zero. I just try to use CTC, and [here](https://cntk.ai/pythondocs/cntk.io.html?highlight=truncation_length) recommends that set `truncation_length` for BPTT. I don't understand why I get the exception. Did I do something wrong?

@ebarsoumMS thanks for your attention.

[2017-08-15 18:54] cha-zhang commented on #2107
I'm working on the single page for all pre-trained models. Should be available in a day or two.

[2017-08-15 19:03] KeDengMS commented on #2161
We haven't got report like this in the past. I'd suggest you build inside a container to isolate issues. Here's a reference Dockerfile for creating a build environment of Ubuntu 16.04:

[code]

[2017-08-15 20:25] bmharper commented on #2156
I've just hit the same issue. @mikhail-barg Did you get this working? If I understand correctly, I need to:

1. Pad my label sequences out so that they are the same length as their corresponding input sequences
2. Set delayConstraint to -1

Did that work for you?

[2017-08-15 22:32] cheers00 opened #2220 "ImportError: No module named 'cntk' on Ubuntu"
On Ubuntu, I followed the steps from https://docs.microsoft.com/en-us/cognitive-toolkit/setup-linux-python?tabs=cntkpy21 and installed `CNTK and version check script python -c "import cntk; `print(cntk.__version__)" worked.

But with new putty session, I am getting `ImportError: No module named 'cntk' error`. How to setup CNTK environment again?

Thanks

[2017-08-16 01:37] cha-zhang commented on #2107
All models are now accessible from the same location:
https://github.com/Microsoft/CNTK/tree/master/PretrainedModels

Thanks!

[2017-08-16 01:37] #2107 closed

[2017-08-16 02:34] frankibem commented on #2220
For Python only installation:
1. If you installed CNTK without an environment, then importing it should work. Verify that you are running the version of python that you installed CNTK for i.e. python or python3

2. If you installed CNTK in a conda environment, then you must first activate that environment. Assuming the environment you created is "cntk-py35". You can run `activate cntk-py35`. Runni

[2017-08-16 05:42] zpbappi commented on #2107
Thanks @cha-zhang for compiling the list. Would you consider adding the link in some place like "Resources" section in the [official documentation site](https://docs.microsoft.com/en-us/cognitive-toolkit/)? It would be easier to find for someone who is looking for something like it.

[2017-08-16 06:40] baozi-lala opened #2221 "read type of activation function from a model"
I have a convnet model loaded from a file and would like to compute some of its properties.How to read the **activation function** of each layer in **Python**. besides,for the MaxPooling and Convolution2d,I can know the filter shape by the shape of weight.but how can I know  the stride. Is it possible to do this?

[2017-08-16 07:55] eldakms commented on #2211
Please share the definition of your network. It is not about the minibatch source. In BPTT all sequences in the minibatch will be truncated to 20 frames. It seems in your network you are trying to access frames outside of this range.
Thanks!

[2017-08-16 08:11] eldakms commented on #2214
This is a bug and it should be fixed.

[2017-08-16 08:15] rajarsheem commented on #2217
Hi, this works like a charm! Thanks! I didn't know about the fact that it was using same axis for both a and b.

I wanted to, however, make it a little bit complicated. What if, instead of summing the elements of a, I wanted to keep the score between a_i and b_j as it is  ? For eg.,
match(b->a) = [ [[6 * 1, 6 * 2, 6 * 3], [7 * 1, 7 * 2, 7 * 3]], [[8 * 4, 8 * 5]] ].
One motive to do that might be _

[2017-08-16 08:20] DabiaoMa commented on #2201
@frankibem
I think eldakms was referring to an operator that computes gradient of the input variable or the parameter. As far as I know now, not only deep dream needs the gradient, but also WGAN-GP takes the gradient of the loss w.r.t. to the parameter as an additional penalty to the model.

[2017-08-16 09:12] pkranen commented on #2219
Correct, the above code only trains on B, because train_fast_rcnn() creates a new model from the base classification model (AlexNet) from scratch. The different results might be related to non-determinism. Did you try running either version a few times to see whether each one has always the same output? The code as you posted it definitely trains a new network on B only.

[2017-08-16 09:17] ivan-alles opened #2222 "Add serializable custom attributes to a model in python."
Is there a way to add some custom attributes to the model so that they can be saved and loaded with the rest of the model. For example:

model['build_time'] = '12:44'
model.save('file.dnn')
.....
model = cntk.load_model('file.dnn')
print(model['build_time'])

[2017-08-16 12:13] eldakms commented on #2149
The only thing that comes to mind - convert Kaldi format to some supported one (i.e. to HTKand then use HTKFeatureDeserializer). I am not sure whether something like that exists in HTK toolkit.

If you go with implementing your own deserializer, probably implementing it in python will be the simplest.(have a look at <CNTK>/Manuals/Manual_How_to_write_a_custom_deserializer.ipynb)

The team will dis

[2017-08-16 12:13] #2149 closed

[2017-08-16 16:45] ebarsoumMS commented on #2222
Sadly, no.

[2017-08-16 16:47] ebarsoumMS commented on #2221
What you mean by "compute its properties"?

[2017-08-16 17:16] bencherian commented on #2222
If something like this does get implemented it would be great if these attributes were accessible through the C++ API as well.

[2017-08-16 17:18] ebarsoumMS commented on #2222
If you guys want to help out, feel free to send us a pull request.

[2017-08-16 17:58] n17s commented on #2217
A generic solution involves the following steps
[code]
The first line will convert the b sequence into a static tensor with one more axis than b. Because of packing, some elements of this tensor will be invalid(in your example the element next to the 8) and those will be indicated by the `mask`. The `neutral_value` will be placed as a dummy value in the static_b tensor wherever data was missing. D

[2017-08-16 18:48] n17s commented on #2140
Right, the workaround for now is basically that F(x+r) for small r is F(x)+r'*∇F so an estimator like
(F(x+ε*r) - F(x-ε*r))/(2*ε) computes r'*∇F and ((F(x+ε*r) - F(x-ε*r))/(2*ε))^2 computes ∇F'*r*r'*∇F whose expected value is ||∇F||^2 if r is drawn from a standard normal distribution.

Obviously this workaround can be a noisy estimate, and we have not verified that it actually makes GAN training b

[2017-08-16 19:43] srini1948 commented on #2070
In the “cart-pole” RL tutorial for the policy gradient approach the comment in the tutorial says we use the “loss.forward” , loss.backward” to compute the gradients. Is there any paper or reference which explains this because the loss function used here is log(squared)?

Thanks.

Sent from Mail for Windows 10

From: sayanpa
Sent: Tuesday, August 15, 2017 10:33 AM
To: Microsoft/CNTK
Cc: srini1948;

[2017-08-17 00:10] dashesy opened #2224 "FasterRCNN anchor_target_layer issue with image dimension"
With training set of images all 3648x2736, when I set `ImageHeight` equal to `ImageWidth` equal to 1000 `overlaps` could be empty, resulting in this error:

[code]

This issue is similar to [this](https://github.com/rbgirshick/py-faster-rcnn/issues/410), but changing `_allowed_border ` did not help. To get over this issue I have to set `ImageWidth` and `ImageHeight` to the fixed size (or larger th

[2017-08-17 00:12] ebarsoum commented on #2196
If you set unit_gain=False, you will need to reduce your learning rate. use_mean_gradient if it is set to True, it will match the behavior of other framework. CNTK by default sum the gradient in the MB, by setting 'use_mean_gradient' we will average them. To match other framework behavior you need to set both flags.

[2017-08-17 01:17] baozi-lala commented on #2221
sorry，I didn't describe it very well.my question is,
if I have a convnet model file,Can I get its network structure by loading the file?
Every convolution layer has an activation function, and can  I read this activation function.

[2017-08-17 01:48] ebarsoumMS commented on #2132
The below code work:

class CustomFun(UserFunction):
    def __init__(self, *args, name='CustomFun'):
        super(CustomFun, self).__init__(list(args), name=name)

    def forward(self, arguments, outputs=None, keep_for_backward=None, device=None, as_numpy=True):
        return None, [x/2 for x in arguments]

    def backward(self, state, root_gradients, variables=None, as_numpy=True):
        #

[2017-08-17 01:48] #2132 closed

[2017-08-17 01:58] baozi-lala opened #2225 "what neural network model for the picture below are supported by cntk?"
what neural network model for the picture below are supported by cntk?
which of them are supported by higher level API,and which are supported by core or lower level only?
![dl](https://user-images.githubusercontent.com/21255466/29392852-e277751e-8332-11e7-92b4-bc1eb085bdc8.png)

[2017-08-17 02:07] ebarsoumMS commented on #2221
Yes, you can. Here CNTK code that iterate through the graph and plot the entire graph into a PNG or PDF file:
https://github.com/Microsoft/CNTK/blob/master/bindings/python/cntk/logging/graph.py

You can modify the code to match your need or use some of its functionalities, which u exposed though CNTK.logging package.

[2017-08-17 02:11] ebarsoumMS commented on #2225
Which one you are interested in? You should be able to implement most of them. There is no strict delineation between low level and high level API.

Also, please move non-issue related question to stackoverflow with tag CNTK.

[2017-08-17 02:11] #2225 closed

[2017-08-17 02:32] ShuyuZ commented on #2219
Thank you for your help. I do not understand the word "non-determinism". Could you please give more detail about it?
I ran the two versions several times, and the results are always different. But the result stays the same when i just only train on B.

Also, here is another question.
In this document: [https://docs.microsoft.com/en-us/cognitive-toolkit/How-do-I-Train-models-in-Python#load-pre-trai

[2017-08-17 02:33] baozi-lala commented on #2221
thank you! i get the structure by C.logging.depth_first_search,but i don't know how to get the activation function of these layers.

[2017-08-17 02:56] sayanpa commented on #2070
Srini,
can you please open a new issue since this one is on a different topic. Apologies for not asking this earlier.

[2017-08-17 04:16] vidyatshetty opened #2226 "CNTK: Caught Win32 exception 0xc0000005: Access violation."
Hi,
I am using cntk to build speaker recognition system. I used htk toolkit to extract mfcc features and create .mlf files. When i try to run i am getting the error
CNTK: Caught Win32 exception 0xc0000005: Access violation.
I am assuming i have problem with reading .mlf file because it shows zero entries in .mlf file though i have entries.

![cntk](https://user-images.githubusercontent.com/1353587

[2017-08-17 07:33] elibarzilay opened #2228 "No good way to know which version is installed?"
Running the `cntk` executable shows a bunch of information, but there's no mention of its actual version.

This is useful for tools that deal with installing and managing CNTK.

[2017-08-17 07:51] ivan-alles commented on #2222
I'm thinking about a workaround for this. I can add a UserFunction to the model. It can have a dictionary for custom attributes. I can give it a unique name. Then I can find it by name and read the attributes. What I do not know, is how to add the function so that it just hangs there. The only way I can think of now is an identity function, for example directly after the input variable.

[2017-08-17 12:15] hajix commented on #2211
here is my network definition:

[code]

[2017-08-17 12:19] srini1948 opened #2229 "CNTK_203_Reinforcement Learning Loss Function documentation"
In the "cart-pole" reinforcement learning tutorial sample CNTK_203 for the policy gradient method a loss function is defined that has "log of squared error". For computing the gradient "loss.forward, loss.backward" method is used. Is there any reference or documentation that describes this approach - I suspect it is a numerical perturbation method?

[2017-08-17 14:45] Draghtnod opened #2230 "C++ CNTK::Function::Load() won't load models"
[code]

This causes a RuntimeError stating:

`Failed to parse Dictionary from the input stream.`

Same happens with `CNTK::Function::Load( buffer, length )`, but `CNTK::Function::Load( filepath )` gives `Unknown error.`.

The model is from the Examples, this also happens with my own models saved via python `cntk.ops.functions.Function.save()`
Tested with CNTK 2.0 and CNTK 2.1.

As I read these fil

[2017-08-17 21:19] n17s opened #2231 "debug_model does not work with LSTM"
It seems debug_model assumes that every node has one output, which is not true for LSTMs (which output a hidden state and a cell state). The following code does not given an exception when I use a `C.layers.GRU` instead of `C.layers.LSTM`.

[code]

[2017-08-17 21:24] n17s opened #2232 "debug_model does not work with recurrences"
Continuing on the debug_model problems (c.f. #2231), the following code creates a graph that when executed results in
`RuntimeError: Evaluate: All nodes inside a recurrent loop must have a layout that is identical; mismatch found for nodes 'UserDefinedFunction4918' ( x *14) vs. 'PastValue4916' ( x DynamicAxis17)`

Here's the repro:
[code]

[2017-08-17 21:29] n17s opened #2233 "debug_model does not work with batch normalization"
Continuing on the debug_model issues (c.f. #2232 and #2231) debugging a model with batchnorm doesn't work. The repro is:

[code]

[2017-08-18 06:23] vidyatshetty commented on #2226
I found the fix. There was some minor error in my .mlf file my bad. It is working fine now. Thanks

[2017-08-18 06:23] #2226 closed

[2017-08-18 06:56] whaozl commented on #2216
@Alan-Lee123
TypeError: data type "<class 'cntk.core.Value'>" is not supported. Please provide the data as a Python list of NumPy arrays or Scipy CSR matrices.
[code]

[2017-08-18 07:36] zhouwangzw commented on #2230
The Function::Load() either takes the path to file as parameter, or the byte buffer as the first parameter, as described [here](https://docs.microsoft.com/en-us/cognitive-toolkit/CNTK-Library-Native-Eval-Interface#load-a-model). It does not support ifstream as paraemter. If use byte buffer, you should first read the model file into the byte buffer, and then call the Load() function.

[2017-08-18 09:16] Draghtnod commented on #2230
https://github.com/Microsoft/CNTK/blob/08b9b5a2d6754c97f7afff8c8ca4e9b8c2290cf6/Source/CNTKv2LibraryDll/API/CNTKLibrary.h#L3380-L3384

I did.

[2017-08-18 09:35] edmBernard commented on #2230
I don't test it but maybe you need to explicitly cast in istream :
[code]

[2017-08-18 10:01] Draghtnod commented on #2230
Negative, tested with same result. This cast happens automatically when the function is called.

I digged into the source code of this function. The stream is given directly to CNTK::Dictionary via the [>> operator](https://github.com/Microsoft/CNTK/blob/08b9b5a2d6754c97f7afff8c8ca4e9b8c2290cf6/Source/CNTKv2LibraryDll/Serialization.cpp#L780), which passes it to [CNTK::Serializer::Read()](https://g

[2017-08-18 10:03] Alan-Lee123 commented on #2216
@whaozl It is annoying. You may avoid using MinibatchData. Just Send {input: Value.one_hot(self.data,self.data_vocab_len)} to train_minibatch.

[2017-08-18 11:47] Draghtnod commented on #2230
I installed Googles Protocol Buffers and deserialized the model file manually. That worked and within the examples, i realized that the file stream has to be opened with the binary flag! That is not documented anywhere within CNTK Docs.

Finally this works:
[code]

I could not get the other two Load() versions to work. I'm not sure what's the problem there.

[2017-08-18 12:14] mortengryning opened #2234 "Evaluating FasterRCNN error"
Hi.

I'm testing the new FasterRCNN example. I Use the CNTK GPU Build 2.1 and the CNTK.GPU nuget package in C#.

The training runs fine and archives a very nice Mean AP using the python scripts:
![image](https://user-images.githubusercontent.com/7712296/29458244-64556e74-841e-11e7-9b59-d0385d9d353e.png)

The test images also looks correct and everything besides the water is recognized which the ou

[2017-08-18 13:23] Draghtnod commented on #2230
Is was happy too early. The headaches continue.. `CNTK::Function::Load( istream )` throws no exception anymore, but the read Function seems to be broken. Trying to access anything of these:
[code]
throws memory access exceptions because of seemingly broken internal pointers. If i look at the contents of the Function in the debugger, i see no senseful data:
[code]
No inputs and attributes and 46116

[2017-08-18 13:42] edmBernard commented on #2230
can you test that this method (I don't have test it)
[code]
you can use it like that :
[code]

[2017-08-18 14:17] pkranen commented on #2234
Faster RCNN uses a few Python UDFs (user defined functions) for training and one of them (the ProposalLayer) also for inference. You can think of these UDFs as new computation nodes. They are not yet available in native code at the moment, but we are working on a C++ version of the ProposalLayer to allow inference from C# etc. Stay tuned! (If you want to try early bits you can checkout [alrezni/pr

[2017-08-18 14:17] rems75 commented on #2196
Hi @ebarsoum ,

Thanks for the clarification.
I am actually quite interested in understanding a surprising behavior of the original algorithm (with all the flags set by default). The target network was disabled, but the agent still managed to learn good q-values and an optimal policy.
What exactly does unit_gain do in the case of the Adam optimizer? There is already a normalization by (1-momentum)

[2017-08-18 14:18] Draghtnod commented on #2230
Thanks for the code. I tested it. Reading the file buffer this way works for the `Load( buffer, size )` function. The resulting model is the same as the giving the ifstream to the Load() directly. Both broken. If you check out the [Load( buffer, length )](https://github.com/Microsoft/CNTK/blob/08b9b5a2d6754c97f7afff8c8ca4e9b8c2290cf6/Source/CNTKv2LibraryDll/Function.cpp#L481-L504), you can see tha

[2017-08-18 14:19] L-Ramos opened #2235 "Problems with the output from autoencoder"
I'm using the autoencoder example from: https://github.com/Microsoft/CNTK/blob/master/Examples/Image/GettingStarted/07_Deconvolution_BS.cntk

In this example the features are scaled (featScale = 1/256).
I did not scale my features, just used them with the conv,pool,deconv and unpool layers and saved the output from the model.

While my feature values range from -1000 to 2000, with variations per s

[2017-08-18 14:44] pkranen commented on #2235
Please try normalizing your input values to positive [0, 1] range. You can easily transform decoded output back to [-1000, 2000] if required.

[2017-08-18 15:55] michhar commented on #2210
@akzaidi @ebarsoumMS Thank you.  I've got a similar issue still so not necessarily reopening, but am just wondering how big the docker image is for `microsoft/cntk` as I've freed up about 40 more gb of disk space and increased my docker machine's RAM to 16 gb which is max for my machine (probably not necessary, yes?).  I've also now tried not using a conda or virtualenv created Python environment

[2017-08-18 17:05] oxrider opened #2236 "How to set learning rate between epochs in Keras?"
I tried `model.optimizer.lr.set_value(1e-4)`, which resulted in

[code]

I'm using `keras.optimizers.SGD` as my optimizer

[2017-08-18 17:35] Draghtnod commented on #2230
Ok that took many hours. I built the Libraries myself and realized, that the debug libraries work fine! Using the release libraries in my project in debug mode, does not and leads to the described effect. But using the release libraries (also the precompiled ones) in release mode works fine again. Very strange. There are no compiler or linker errors when compiling with the release libraries in deb

[2017-08-18 17:58] wolfma61 commented on #2230
this could be due to incompatibility between STL in debug/release mode. You can't mix while using STL ....

[2017-08-18 18:26] souptc commented on #2236
to customize the lr, you need pass the value when init the keras optimizer:
`model.compile(loss='categorical_crossentropy',
              optimizer=SGD(lr=1e-4),
              metrics=['accuracy'])`

[2017-08-18 19:02] #2236 closed

[2017-08-18 21:53] karolzak opened #2237 "Selective Search returns 1 ROI?"
Hi,
I'm working on using Fast-RCNN for object detection on images for a POC and while tweaking the parameters and trying bunch of different configurations I stumbled upon a weird issue.
While generating ROIs for my custom dataset I noticed that for some images, Selective Search detects only 1 ROI...
[code]

Is this normal? Where does it come from? How bad does it affect the results?

I'm attaching

[2017-08-18 23:06] kumaran-5555 opened #2238 "backward pass arguments are wrong in UserFunctions with multiple input"
When I am trying create a user function with two input, I have lot of issues in forward and backward signatures and documentation is very minimal/useless.

I explained my issues in both forward and backward functions and also quoted the documentation string.

I am using CNTK 2.1

`class Test(UserFunction):
    def __init__(self, Q, D, name='CosineSimilarityWithNegSamples'):
        super(Test, sel

[2017-08-18 23:30] michhar commented on #2210
I solved this by deleting my existing docker images, some of which were very large I came to find out. :)  Thanks for the help, again.

[2017-08-18 23:50] ebarsoumMS commented on #2238
Hi Kumaran,

Here an example of a UserFunction that take 2 inputs:

class CustomOP(UserFunction):

    def __init__(self, arg1, arg2, name='CustomOP'):
        super(CustomOP, self).__init__([arg1, arg2], name=name)

    def infer_outputs(self):
        return [cntk.output_variable(self.inputs[idx].shape, self.inputs[idx].dtype, self.inputs[idx].dynamic_axes) for idx in range(len(self.inputs))]

[2017-08-19 01:00] kumaran-5555 commented on #2238
In my use case, I am combining two inputs into one output. I have just one output variable, for this scenario, I am receiving variables of len 1. I am expecting variables to have 2 elements in backward call.

[2017-08-19 07:21] mortengryning commented on #2234
Hi.

Thank you for your answer.

If I use the branch you linked (alrezni/proposal_layer), will I be able to evaluate using the c# evaluation library or do I have to build/code some things first?

[2017-08-19 10:01] mortengryning opened #2240 "FastRCNN gives Mean AP of 0.63 instead of > 0.9"
FastRCNN in 2.1 (CPU/GPU/GPU 1-bit) all gives a score of 0.63.

The example have a Mean AP of > 0.90

![image](https://user-images.githubusercontent.com/7712296/29485677-0ff4a8a0-84d6-11e7-85da-e316fbd644a4.png)

[2017-08-19 12:30] mortengryning commented on #2240
Also: BS and PS gives different result (both > 0.6 < 0.7)

[2017-08-19 22:09] amarkatti opened #2241 "Type or namespace 'IEvaluateModelManagedF' is missing."
Hello,

I am trying to build the CNTK in visual but it gives me the following error "The type or namespace name 'IEvaluateModelManagedF' could not be found (are you missing a using directive or an assembly reference? ". Any help would be really appreciated.

[2017-08-20 01:50] bklooste commented on #1012
Any better doco on the C++ side ? I especially wanted the dlopen calls in the framework at it changes builds. I don't use python in my robotic work .

[2017-08-20 03:34] bklooste commented on #1012
@eldakms  This is awesome ,...I don't use python ( HW) , found the examples hidden in the solution  which are fine for my team.. You should publish this as it allows a lot more to be done and makes the low level framework more extensible. Obviously CPU to GPU transitions are an issue  but if people build a good enough use case that can be improved.,

[2017-08-20 06:03] zhouwangzw commented on #2241
@amarkatti Do you mean build the cntk.sln from source by "build the CNTK in visual"? Currently, VS2015 Update 3 is required, and platform X64 is needed for configuration. You can instructions about development setup on Windows [here](https://docs.microsoft.com/en-us/cognitive-toolkit/Setup-development-environment).

Or you want to build your application using CNTK Library for model evaluation/infe

[2017-08-20 07:32] mortengryning commented on #2241
You need the mkl nuget library if you're doing evaluation (compared to the other nuget libraries where you use the Function to load the model :-))

[2017-08-20 09:31] whaozl commented on #2216
@Alan-Lee123 No, Because here is a variable length sequence. ```Value.one_hot(self.data,self.data_vocab_len)```

[2017-08-20 09:52] mortengryning commented on #2240
Using Python 3.4 or 3.5 makes no difference

[2017-08-20 09:55] wolfma61 commented on #2241
The CNTK Nuget package contains all the required dependencies to evaluate based on an existing CNTK trained model, No additional libraries (like MKL) need to be installed. The page Zhou mentions lists the dlls you would need to distribute with your application.

[2017-08-20 10:23] mortengryning commented on #2240
Also, setting self.cntk_nrRois = 2000 (instead of 100) entails a mean AP of 0.9554. So I don't know if it's just that the nrRois was set to a value less than that of the example?

[2017-08-20 10:29] mortengryning commented on #2241
Sorry I was unclear.

I've experienced that there different CNTK nuget packages:

![image](https://user-images.githubusercontent.com/7712296/29494079-2516f5d0-85a3-11e7-8527-0e39f5cac41e.png)

It seems that the mkl one supports IEvaluateModelManagedF, whereas the CNTK.GPU/CNTK.CPU support Function.

[2017-08-20 12:50] zhouwangzw commented on #2241
Except that you have legacy applications that already used IEvaluateModelManageF, we recommend users to use Function interface provided by CNTK.GPU or CNTK.CPUOnly, as descrbided in the following sections: https://docs.microsoft.com/en-us/cognitive-toolkit/NuGet-Package#overview, and https://docs.microsoft.com/en-us/cognitive-toolkit/NuGet-Package#legacy-applications-using-cntk-evaldll-interface.

[2017-08-20 14:24] ivan-alles opened #2242 "find_by_name() changes type of user function to cntk.ops.functions.Function."
If I add a user function to a model, and then search for it with find_by_name(), the returned object has a different type (cntk.ops.functions.Function). The concrete problem with it is that if I add some attribute to my user function, they disappear after the search. The same effect is when searching with depth_first_search().

Code example:

[code]
**Update:**
I forgot to enclose the user functio

[2017-08-20 16:15] manuelelucchi opened #2243 "UWP GPU Support"
I've noticed that you have released an UWP binding of CNTK and is in your plan release an ARM64 version. But what about GPU support in UWP? It's on plans?

Thanks for everybody answers me

[2017-08-20 16:17] manuelelucchi opened #2244 "AMD GPU Support"
I have an AMD GPU on my PC, are you going to support also AMD GPU soon?
Thanks for everybody answers me

[2017-08-20 19:06] championoaks commented on #954
What are recommended settings if I want to use/bind python with binaries I built myself? I was also getting lot of grief like many others and changed to PYTHONPATH to C:\local\Anaconda3\Lib\site-packages which now uses bindings that are downloaded but not the one in my repo.

If I use setx PYTHONPATH c:\repos\cntk\bindings\python;%PYTHONPATH%

I get
(cntk-py35) F:\users\stangri\cntk-2.X\CNTK\Tutor

[2017-08-20 19:30] championoaks commented on #2170
My Original question was how GPU on UWP will be described (when it becomes available).

UWP application development on ARM needs to be solved, but at this point UWP on x86 and GPU needs to be simpler.

[2017-08-20 23:34] championoaks opened #2245 "Running python on self built binaries locally"
After lot of struggle I got python 3.5 +Anaconda running but, learnt that fastRCNN only works with 3.4 and python script wasn't using my binaries. Then I switched over to using 3.4 by uninstalling everything but it never worked.

C:\Windows\system32>activate cntk-py34
(cntk-py34) F:\users\localuser\cntk-2.X\CNTK\Tutorials\NumpyInterop>python FeedForwardNet.py
Traceback (most recent call last):
  F

[2017-08-21 00:32] championoaks commented on #1313
I am running on windows with 3.4 and renamed cython_nms.cp34-win_amd64.pyd as suggested above .
Still getting the same failure.

[2017-08-21 02:49] baozi-lala opened #2246 "DLL load failed: The specified module could not be found."
before,I could use cntk normally,but after I modified the environment variable and install the tensorflow in another anaconda environment ,this error occurs.I tried to change the environment back,but it was useless.how can i do to solve this problem.

C:\local\Anaconda2\python.exe "D:/Machine Learning/projects/CNTK/ConvNet_MNIST.py"
Traceback (most recent call last):
  File "D:/Machine Learning/pr

[2017-08-21 05:02] spandantiwari commented on #2240
It, most probably, is just that, as noted in the comment right where the parameter is set in FastRCNN/PARAMETERS.py (line # 20). Good to see that you are seeing the expected results.

[2017-08-21 05:02] #2240 closed

[2017-08-21 10:03] #2111 closed

[2017-08-21 19:17] vidyatshetty opened #2247 "How to interpret cntk results using HTKMLFWriter"
Hi, I am using cntk for speaker recognition. So far I have completed data preparation using  HTK Toolkit. I used features and .mlf files in cntk. My configuration and output file file looks like this. I am wondering how to interpret results? Also If i use the HTKMLFWriter the output will not be wriiten in output file. Please help me solve these issues I am going through.

Config file

command=Timi

[2017-08-21 20:41] tangyuq commented on #2245
Your SWIG project seems not built correctly. How did you build CNTK?

If you just want to use CNTK without changing the source code, an easier step is to :
activate cntk-py34
pip install https://cntk.ai/PythonWheel/CPU-Only/cntk-2.1-cp34-cp34m-win_amd64.whl

Then you should have the cntk-py34 environment with CNTK installed.

[2017-08-21 20:46] tangyuq commented on #2246
To separate different environments, you might want to create virtual environments for each of them, for example,
 conda create --name cntk-py34 python=3.4 numpy scipy h5py jupyter
 activate cntk-py34
 pip install https://cntk.ai/PythonWheel/CPU-Only/cntk-2.1-cp34-cp34m-win_amd64.whl

You can replace the Python version, the CPU or GPU wheel files above with the one fit your need. A list of release

[2017-08-21 21:32] sayanpa commented on #2238
The key issues:
- In Forward: Doc says output is a dictionary; but the example with 2 gradient; However the MyPlus function does not return the output. The example below the MyPlus function has a different signature. This is causing confusion.

- In Backward: The author is trying to access the gradients with multiple outputs. So the documentation for MyPlus and the function signature right after t

[2017-08-21 21:45] amarkatti commented on #2241
@zhouwangzw, thanks & I will check by installing the above mentioned nuget package. But im wondering why this was not part of list of instructions here : https://docs.microsoft.com/en-us/cognitive-toolkit/Setup-development-environment. Also, shouldn't 'IEvaluateModelManageF' interface be part of source code (cntk.sln). when I open the cntk.sln in visual studio I can only see references to this int

[2017-08-22 00:32] xiachsh opened #2248 "problem of configure with openblas on centos 7"
With default openblas (from Centos 7 ISO), the dir of header for openblase was located under /usr/include/openblase, and configure script was checking the header openblas_config.h under /usr/include,

[root@SZV1000239187 CNTK-master]# cat /etc/*-release
CentOS Linux release 7.1.1503 (Core)
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS L

[2017-08-22 08:44] L-Ramos commented on #2235
I normalized my output and now I have more reasonable numbers to work with. With values ranging from -1000 to 3000 the output from my autoencoder were number e^25, which would take a lot of time to normalize. Thanks for the answer!

[2017-08-22 08:45] #2235 closed

[2017-08-22 09:35] zhouwangzw commented on #2241
@amarkatti If you build from cntk.sln, you do NOT need to install the Nuget packages. (Only if you just want to use Eval library instead of build cntk.sln, you need Nuget packages, as said in my response above). This is also why nuget package installation is not a part of Setup-Developer-Environment instructions.

For build using cntk.sln, the IEvaluateModelManageF is defined in Extensibility/Eval

[2017-08-22 09:42] zhouwangzw commented on #2243
For GPU support, UWP compatible Cuda/CuDnn libraries are required. We are now considering how to support GPU in UWP, but no ETA yet. We will publish it in our itreation paln, as soon as we have a more detailed plan.

[2017-08-22 10:07] zhouwangzw commented on #618
I fully understand it is not always easy/feasible to update your applications to the newest VS version. As STL is heavily used in the current API, I do not think that removing STL from API might happen in short term. But I will pass the message to the team for consideration. Actually, besides STL, we have also other external dependencies, e.g. Cuda/Cudnn, which are also bound to a particular VS ve

[2017-08-22 10:14] xforceco commented on #1349
quick question, does "image seq" still not supported in brainscript?

[2017-08-22 11:07] manuelelucchi commented on #2243
thank you for the answer!

[2017-08-22 12:01] mortengryning opened #2249 "Evaluating Fast RCNN using CTNK.CPU in C# - Expecting labels??"
Hi.

I'm trying to evaluate the Fast RCNN model using the CNTK.CPU

I'm just using the Grocery set to test it as I can see that model works when using the python scripts. I input the image and ROIS as floats.

When I evaluate an image, I get the following error:

Additional information: Values for 1 required arguments 'Input('roiLabels', [17 x 2000], [, #])', that the requested output(s) 'Output('

[2017-08-22 12:40] jeandebleau commented on #2244
Hi. For the moment there is nothing like the cudnn library for AMD.
You have two options:
- finding a learning framework supporting OpenCL. I do not know if there are plans from cntk developers to do that. I think there is an Opencl caffe branch sowewhere.
- finding a framwork using ROCm MIOpen. Only limited features up to now.

[2017-08-22 13:00] whaozl opened #2250 "Evaluating using CTNK.GPU in C#, when training model of keras background cntk??"
[code]

[2017-08-22 13:30] JimSEOW commented on #2244
@manuelelucchi @KeDengMS @jeandebleau
This is an important question. We need to figure out how to RAISE awareness and need to Qualcomm Snapdragon ( which provide SoC for W10 IoT Core, Win10 OnARM and W10M)

Perhaps we could raise more interest through this forum

- https://developer.qualcomm.com/forum/qdn-forums/mobile-technologies/mobile-gaming-graphics-optimization-adreno/27201
https://developer

[2017-08-22 13:33] JimSEOW commented on #2244
@manuelelucchi @jeandebleau @KeDengMS  We need to raise awareness to Qualcomm which provide Snapdragon SoC for W10: IoTCore, W10A, and W10M

https://developer.qualcomm.com/forum/qdn-forums/software/adreno-gpu-sdk/34628

[2017-08-22 14:08] pkranen commented on #2234
We've tried yesterday to evaluate FasterRCNN from C# using the native proposal layer mentioned above. It required a few minor changes (due to FreeDimension), but then it worked. We are working on a clean solution for this and will post it once the changes are in the master branch. Thanks.

[2017-08-22 14:21] pkranen commented on #2219
[Here](https://en.wikipedia.org/wiki/Nondeterministic_algorithm) is what Wikipedia has on nondeterministic algorithms. Nondeterminism in CNTK training can be caused by randomizing the order of the training data or selecting a different convolution engine (which is done by CNTK under the hood). If you want to continue training your model with additional data then one option is to load the trained m

[2017-08-22 14:50] arijit17 opened #2251 "SELU not working"
Selu (https://www.cntk.ai/pythondocs/cntk.ops.html?highlight=selu#cntk.ops.selu)
doesn't work.

Python 3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'cntk' has no attribute 'se

[2017-08-22 15:40] veikkoeeva commented on #2244
This question came up also in Gitter, answered by @cha-zhang at https://gitter.im/Microsoft/CNTK?at=59976ff0614889d47562c399.

[2017-08-22 15:58] bencherian commented on #2251
Are you sure you're running CNTK 2.1? It was only added in the latest CNTK release. You can check the version attribute after import (`C.__version__`) to verify that you have version 2.1 installed.

[2017-08-22 16:11] sayanpa commented on #2229
This example is to illustrate how to use forward and backward functions for computing network parameters. This is a toy problem so I do not have any reference for you. We do have a deep RL framework under

[2017-08-22 17:11] manuelelucchi commented on #2244
thank you everyone for the answers!

[2017-08-22 17:23] znmeb commented on #2244
@veikkoeeva That is the correct answer - vendors need to engage at the management and engineering levels for software to be successful. An open source community can do little without such discussions taking place.

[2017-08-22 17:53] tangyuq commented on #2248
Thank you for your inquiry. Our Linux build configuration is targeting Ubuntu: https://docs.microsoft.com/en-us/cognitive-toolkit/setup-cntk-on-linux.

For other Linux build, you should be able to set the environment variables C_INCLUDE_PATH and CPLUS_INCLUDE_PATH or change the Makefile accordingly: https://github.com/Microsoft/CNTK/blob/master/Makefile.

[2017-08-22 21:16] srini1948 commented on #2229
The loss function used in deepRL are standard "cross entropy softmax" obtained from CNTK.losses and the gradients have analytical solutions. In CNTK_203_Reinforcement Learning the "loss" function is not a part of CNTK.losses. I wanted to know how the gradient is computed by CNTK in such cases.

[2017-08-22 22:40] mia-at-speechmorphing opened #2252 "CNTK uninstall leaves marks in vcxproj which need to be manually removed"
Hello,
When I installed **CNTK CPU only** I see that there are lines added to my vcxproj:

 <ImportGroup Label="ExtensionTargets">
    <Import Project="..\..\..\..\packages\CNTK.CPUOnly.2.0.0\build\native\CNTK.CPUOnly.targets" Condition="Exists('..\..\..\..\packages\CNTK.CPUOnly.2.0.0\build\native\CNTK.CPUOnly.targets')" />
  </ImportGroup>

and

<Error Condition="!Exists('..\..\..\..\packages\CNT

[2017-08-22 22:54] dashesy commented on #2224
Ok, at least one case that this error happens is when there is an image with no ground truth data during training. The fix to that is to just delete the image and update the lines accordingly.

An empty line in the `train_roi_file.txt` e.g.

    458 |roiAndLabel

Will result in this error, because `gt_boxes` would be zero for that image.
I will try to reproduce other corner cases (if any)

[2017-08-23 00:10] wolfma61 commented on #2252
can you give us some details...
what does talk about CNTK CPU only mean ... what are you talking about ?
the nuget package?
which version?
what error condition was kept in the project file?

thank you for giving us the detauils

Wolfgang

[2017-08-23 00:48] n17s commented on #988
Yes it is impossible to get to the mean activation from the batchNormalizationNode. It hides this from you. One option would be to use the V2 API where reductions can be used with the batch axis. In Python:
[code]
and in C++
[code]

[2017-08-23 00:52] #988 closed

[2017-08-23 00:59] mia-at-speechmorphing commented on #2252
Thank you for the quick reply, Wolfgang.
I work in VisualStudio 2015 community version 14.0.25431.01 Update 3, Microsoft .Net framework version 4.7.02046

I downloaded CNTK.CPUOnly version 2.0.0 from NuGet (via Visual Studio) and it worked well.
Now I wanted to get CNTK.GPU
Steps:

  1.  go to NuGet solution and uninstall CNTK.CPUOnly version from appropriate project
  2.  install CNTK.GPU (versio

[2017-08-23 01:03] wolfma61 commented on #2252
cool - thank you ...
we'll take a look ;)
meaning: will try to repro and figure out what is going on!

[2017-08-23 01:07] n17s commented on #1427
If you want a global max pooling, there is now a sequence.reduce_max.

If you want max pooling over a windows of 3 tokens/frames then you can do the following:
[code]
Here `window` is a sequence of `3 x d` tensors where `d` was the shape of `x`. The `result` is just taking a maximum over 3 values the previous, the current one and the next one and reshaping to the shape of `x`.

You can easily exte

[2017-08-23 01:07] #1427 closed

[2017-08-23 01:09] n17s commented on #1460
@Ark-kun is right. I'm closing the thread. Feel free to reopen.

[2017-08-23 01:09] #1460 closed

[2017-08-23 01:15] n17s commented on #1467
The above code cannot work because once you reduce over the sequence (in the inner reduce_sum) there's no longer any sequence left so the outer reduce_sum will complain. If you want to reduce over sequence and batch you can do:
[code]
if you also want to reduce over all axes you can do
[code]
I'm closing this thread. Feel free to reopen if you have followup questions.

[2017-08-23 01:15] #1467 closed

[2017-08-23 01:18] n17s commented on #1511
Unfortunately, we do not plan to add Adam to Brainscript. Your options are either to use fsadagrad which is pretty close to Adam, or use the V2 APIs.

I'm closing this thread. Feel free to reopen.

[2017-08-23 01:18] #1511 closed

[2017-08-23 01:35] n17s commented on #1677
It cannot be implemented with either Brainscript of C# Eval. C# Training is in the works. See here: #2194

To do EWC, take a trained network, compute the gradient on each sample, and sum up the (elementwise) squares of all gradients across the data. This gives the diagonal approximation to the Fisher information matrix. You will then clone the network and create a function that takes the differenc

[2017-08-23 01:35] #1677 closed

[2017-08-23 01:38] n17s commented on #1530
Sorry this is taking so long. I am still planning to work on this at some point.

[2017-08-23 01:45] n17s commented on #1932
I can't repro this with the latest master. Can you share a repro?

[2017-08-23 01:54] n17s commented on #2006
Note that beam search will still output a single answer. The only difference is that the answer is better than the greedy search in terms of (the model's) joint probability. To output multiple answers you just need to replace the `hardmax` operation in the seq2seq tutorial with a `sampling` operation. To sample you can use the  so gumbel-max trick:
[code]
Replacing `hardmax` with `sampling` will s

[2017-08-23 01:54] #2006 closed

[2017-08-23 02:12] n17s commented on #2051
It is very hard to get back the original LSTM. Does the following workaround work for you?
First, create your new recurrence with a new LSTM. Then copy the parameters from the original LSTM.
[code]

[2017-08-23 03:53] xiachsh commented on #2248
@tangyuq  thank for your reply

[2017-08-23 03:53] #2248 closed

[2017-08-23 04:25] veikkoeeva commented on #2244
https://www.microsoft.com/en-us/research/blog/microsoft-unveils-project-brainwave/

via @galvesribeiro from https://gitter.im/dotnet/orleans. With ideas such as https://gitter.im/Microsoft/CNTK?at=59887b6b614889d475275902 could be rather interesting! If only I had some more minutes in a day...

[2017-08-23 04:26] veikkoeeva commented on #2244
I'll cross-reference https://github.com/Microsoft/CNTK/issues/2243 since relevant.

[2017-08-23 07:00] baozi-lala commented on #2200
Have you solved this problem?the filter shape can be known by the weight shape,you can use model.parameters.W.shape.but I want to  know whether you get **strides**from model.

[2017-08-23 07:14] ivan-alles commented on #2200
No, I could not read the strides.

[2017-08-23 07:22] baozi-lala commented on #2200
oh,i just made it.you can use node.block_root.attributes,the strides is included in the output.if you have better way,please tell me.

[2017-08-23 07:58] yshean commented on #1960
I also have this issue. Seems to only be a problem when attempting to pip install and wget. Downloading the whl file via browser is quick.

[2017-08-23 08:00] ivan-alles commented on #2200
Strangely, node.block_root.attributes works for the MaxPooling, but not for the Convolution2d:

[code]

[2017-08-23 08:09] baozi-lala commented on #2200
yes ,actually,I don't understand what is the meaning of block_root.

[2017-08-23 08:32] DabiaoMa opened #2255 "CNN speed?"
Cntk is the fastest to deal with recurrent structures as far as I know. What about convolution structures?

[2017-08-23 08:38] JimSEOW commented on #2244
we need to figure out how to get the discussion OUT from "https://developer.qualcomm.com/forum" into github to widen the scope from just a few Qualcomm software engineers to Qualcomm marketing departments who understand the DEMAND and market projection.

[2017-08-23 08:45] pkranen commented on #2249
For inference you don't need labels, that is correct. Is your model trained with Python or cntk.exe? The A2_RunWithBSModel.py saves the model ready for inference. You can see how it is used from Python [here](https://github.com/Microsoft/CNTK/blob/master/Examples/Image/Detection/FastRCNN/A2_RunWithPyModel.py#L181). The error message that you pasted shows that the network yu are trying to evaluate

[2017-08-23 09:58] mortengryning commented on #2249
I could not get the python to work properly so I used BS - so that's properly why.

I solved it by use giving it an array of 0's as labels and it worked correctly :-)

[2017-08-23 09:58] #2249 closed

[2017-08-23 10:32] arijit17 commented on #2251
Thanks for the hint! It should work now!

[2017-08-23 10:32] #2251 closed

[2017-08-23 10:40] ivan-alles opened #2256 "Fixed kernel weights in convolutions."
I'm implementing a semantic segmentation convnet in python (similar to [that one ](https://github.com/shelhamer/fcn.berkeleyvision.org)). I do upscaling with ConvolutionTranspose2D layers. I initialize these layers with bilinear kernels (cntk.initializer.bilinear). I would like to fix the weights of these (and only these) kernels during training. How could I do this?

[2017-08-23 10:46] xgirones commented on #618
Thanks for your answer. I have already considered writing a wrapper DLL for CNTK,  but as any non trivial project integrating CNTK will face this problem providing an across compiler compatible interface should be a priority.

Another point that I think would increase the popularity of CNTK would be enabling the OpenCV DNN module to load and evaluate CNTK models. They already support Caffe, Torch

[2017-08-23 14:22] eldakms commented on #1788
Closing due to inactivity. Feel free to reopen if the problem is reproducible on the latest binaries. Thanks!

[2017-08-23 14:22] #1788 closed

[2017-08-23 14:25] eldakms commented on #1289
Please have a look at Manual/How to write custom deserializer in python. The interface should simplify implementation of your own deserializers.

[2017-08-23 14:25] #1289 closed

[2017-08-23 14:29] eldakms commented on #2167
Unfortunately this is currently by design, user defined functions cannot be part of the CNTK recurrent loop. I am closing this for now. For the next release (September) this work is not planned.

[2017-08-23 14:29] #2167 closed

[2017-08-23 14:34] cha-zhang commented on #2255
About the same as Caffe2 and MxNet. They all use CuDNN and auto-tuning.

[2017-08-23 14:51] pmfcdb opened #2257 "Missing models in CNTK Examples: Image/Classification/ResNet"
Hi,

The example in CNTK2.1 - CNTK Examples: Image/Classification/ResNet is missing links for download of models:

- ResNet20 for CIFAR-10
- ResNet110 for CIFAR-10

Link of example:
https://github.com/Microsoft/CNTK/tree/release/2.1/Examples/Image/Classification/ResNet

Click link message :
"The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."

P

[2017-08-23 15:07] mia-at-speechmorphing commented on #2252
Thank you, and good luck!

From: Wolfgang Manousek [mailto:notifications@github.com]
Sent: Tuesday, August 22, 2017 6:04 PM
To: Microsoft/CNTK <CNTK@noreply.github.com>
Cc: Mia Shani <mia@speechmorphing.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/CNTK] CNTK uninstall leaves marks in vcxproj which need to be manually removed (#2252)

cool - thank you ...
we'll take a look ;)
me

[2017-08-23 15:28] CBrauer opened #2258 "'cntk.sample_installer'; this may result in unpredictable behaviour"
I got this warning message when installing CNTK-Samples-2-1.
My environment is: Windows 10 build 1703
Anaconda 4.4.0
Python 3.6
The Python Environments of Visual Studio 2017 has changes my python environment.
The output from your install is:
[code]

[2017-08-23 16:03] n17s commented on #2217
Closing. Feel free to reopen.

[2017-08-23 16:03] #2217 closed

[2017-08-23 16:34] n17s commented on #2195
@Ark-kun is right. There are operations such as `C.reduce_{mean,min,max,log_sum_exp}(x, axis=C.Axis.default_batch_axis())` that can help with this. For sequence we have only exposed `sequence.reduce_max(x)` and `sequence.softmax(x)` (not really a reduction, but can help implement a non-uniform average) but all others are supported internally so it would be easy to expose them if youo need this fun

[2017-08-23 17:06] n17s commented on #2190
For beam search, I will see what can be done. The good thing from the development point of view is the functionality exists in V1.

For generating `unk`, I would expect the s2smodel has a Dense layer with a bias term as the last layer. See this thread #2200 for tips on how to navigate the graph to get to it. I would get to that bias term and do
[code]

For the sampling question, see this thread #2

[2017-08-23 18:20] ivan-alles commented on #2200
Now I see. So, calls like `m = cntk.layers.Convolution2D(...)` actually add multiple nodes to the graph. This was not obvious to me.

[2017-08-23 18:44] cha-zhang commented on #2194
@e-thereal @veikkoeeva @bencherian Apologize for some inaccurate information before. For this September iteration, it is a refresh for MKL, that part is accurate. However, we are aiming for MKL-DNN integration in the very near future, maybe in the next iteration or two.

[2017-08-23 20:50] n17s commented on #2133
Not currently.

One workaround which will be available in the next few days would be to use `sequence.unpack`, perform the convolution on the newly created static axis, then call `to_sequence` to get back a sequence if needed.

The item to monitor is

at the current iteration plan #2194

[2017-08-23 22:32] n17s commented on #2114
The embedding lookup is typically done by having a dictionary mapping words to indices and another dictionary for the reverse mapping.

The `Input` in the example you refer to is just an `input_variable`; this is just a typo. Also the `w` should have been `input`.

There's no tutorial on using precomputed embeddings. There's an example in a not-yet-published branch where some words have their embe

[2017-08-24 00:04] wendy7707 commented on #2249
@mortengryning ,hello, I see you did many useful jobs about cntk,would you please tell me if I have a training model, could I test it in C# based on Fast-rcnn.model, not including python coding. And you said you could convert the model file to XML, could you share your coding? Thanks so much!

[2017-08-24 01:23] baozi-lala commented on #2200
I tried to print conv1.block_root,then I get this:
`('layer', ReLU: Output('Plus36_Output_0', [#], [8 x 26 x 26]) -> Output('ReLU38_Output_0', [#], [8 x 26 x 26]))`
therefore the `conv1.block_root.input` has only one value which is
`(Output('Plus36_Output_0', [#], [8 x 26 x 26]),))`
and `conv1.block_root.input[0].owner` got the error `'tuple' object has no attribute 'owner'`
I guess that is the re

[2017-08-24 02:22] e-thereal commented on #2194
Thanks for the update. Good to know and we're looking forward to the mkl-dnn integration.

Sent from my Windows 10 phone

From: Cha Zhang
Sent: Mittwoch, 23. August 2017 11:45
To: Microsoft/CNTK
Cc: e-thereal; Mention
Subject: Re: [Microsoft/CNTK] Iteration Plan (August - September 2017) (#2194)

@e-thereal @veikkoeeva @bencherian Apologize for some inaccurate information before. For this Septembe

[2017-08-24 05:25] ebarsoum commented on #2256
You can use the low level API for convolution transpose, and use constant instead of parameter as weight.:

kernel = C.constant(value = filter)
C.convolution_transpose(kernel , x)

[2017-08-24 07:41] mortengryning commented on #2249
@wendy7707

RIght now, before FasterRCNN fully supports C# Evaluation, you either have to call a custom python script to make ROI's (Region of Interrest), or make an algorithm to make them yourself and input them into model. When FasterRCNN fully supports C#, you can do it in .net only :-). The rest of the model can be fully evaluated in C#.

I'm not sure what you mean by convert into XML.

[2017-08-24 07:45] amarkatti commented on #2241
Hello Zhou,
I am getting this error in CSEvalClient project.
I am using Debug_CPUOnly and 64-bit platform. Yes I am using the visual studio 2015 update 3.
Looks like I am doing some naïve mistake here because the Evaluation project itself is not getting loaded in the solution.
See the attached screenshot below, I do not see any evaluation project inside the examples project.
![cntk error](https://

[2017-08-24 08:24] xylosper opened #2259 "Crash on creation of NDArrayView"
When I run next code, I got an exception or crash:

[code]

Sometimes this code just crash without no output.
The callstack shows `CNTK::NDArrayView::DeepClone`.

Or, I got two kind of messages. One is:

[code]
where the number *** keeps changing whenever executed.

The other one is

[code]
where *** corresponds to extremely long sequence of numbers.

I've test this with the official binary of ver

[2017-08-24 08:26] xylosper commented on #2259
Oops, It was for wrong runtime. I've tested this in debug build and obviously, the binary is in release mode. Sorry to bother you.

[2017-08-24 08:26] #2259 closed

[2017-08-24 08:40] pkranen commented on #2257
We consolidated all pre-trained models in a new top level folder 'PretrainedModels'. During that change the names of these two particular has been adapted. The changes are in master, but not reflected in the previous 2.1 documentation. Please find the model download links here

https://github.com/Microsoft/CNTK/blob/master/PretrainedModels/Image.md

You can now also use the download script from la

[2017-08-24 08:40] #2257 closed

[2017-08-24 10:30] wendy7707 commented on #2249
@mortengryning Thanks for your reply, you means  after I get the test images' roi txt files, I can use the model file to run it in .net environment?  Would you please sharing your evaluated coding? Thank you so much!

[2017-08-24 10:58] mortengryning commented on #2234
Great :-). I'm looking forward to testing it once it's in the master branch.

[2017-08-24 12:24] zhouwangzw commented on #2241
It seems you have also errors when building Cntk.Math and Cntk.Core. The Cntk.Eval.Wrapper has a dependency on them. Could you please check why you can not build Math and CNTKv2Library projects successfully? The message above does not have any information about it. Please first check whether all dev setup steps described [here](https://docs.microsoft.com/en-us/cognitive-toolkit/Setup-development-e

[2017-08-24 13:41] pmfcdb opened #2260 "CNTK 2.0 to CNTK 2.1 - error in EvaluationSingleImage - CNTKLibraryCSEvalGPUExamples"
Hi,

ERROR:
Error: Sequence contains more than one element
CallStack:    at System.Linq.Enumerable.Single[TSource](IEnumerable`1 source)
   at CNTKLibraryCSEvalExamples.CNTKLibraryManagedExamples.EvaluationSingleImageAGATHA(DeviceDescriptor device, String imagefp, String modelfp) in C:\local\cntk\Examples\Evaluation\CNTKLibraryCSEvalCPUOnlyExamples\CNTKLibraryCSEvalExamples.cs:line 49
 Inner Excep

[2017-08-25 00:06] wendy7707 commented on #1259
@mortengryning Hello, you said you wrote a method that takes an image in base64 and returns an xml list of features? Would you please share this coding? Thanks. In addition, CNTK has no RCNN algorithm,right? Thanks.

[2017-08-25 05:41] zhouwangzw commented on #2260
Does your model has more than one Arguments? if yes, modeFunc.Arguments.Single() will fail, as Single() requires that Arguments has only one element. In this case, you can either use indexer, like Arguments[0]/[1] to get the input variable you want, or if the variable has a name, use the following
`Variable inputVar = modelFunc.Arguments.Where(variable => string.Equals(variable.Name, myInputVaraib

[2017-08-25 08:25] pmfcdb commented on #2260
It has 2 arguments:

features Input('features', [224 x 224 x 3], [, #])
labels Input('labels', [2], [, #])

Obtain by :
    foreach(var elem in modelFunc.Arguments)
           Console.WriteLine(elem.Name + " " + elem.AsString());
    Variable inputVar = modelFunc.Arguments.FirstOrDefault();

How can I map them in input data map?
    // Create input data map
    var inputVal = Value.CreateBatch(inp

[2017-08-25 11:49] hajix commented on #2194
Hi

Please prepare some contents that relates how to set up learning parameters of the network. I already read [this](https://docs.microsoft.com/en-us/cognitive-toolkit/BrainScript-SGD-Block#converting-learning-rate-and-momentum-parameters-from-other-toolkits) one, but there some confusing parameters that need more description to understand. I recommend that prepare some cookbook for parameter map

[2017-08-25 14:59] cha-zhang commented on #2247
The output is the output of the linear layer before softmax. If you need output that sum to 1, you need to apply softmax yourself.

[2017-08-25 17:26] cha-zhang commented on #2107
Link added to home page of GitHub. Thanks!

[2017-08-25 17:42] n17s commented on #2200
That message comes from Python and says that `conv1.block_root.input[0]` is a tuple. I'm not sure why, but if it is a tuple indeed you can take the first element like this: `conv1.block_root.input[0][0]`. That should give you an output variable that you can then call `.owner` on it

[2017-08-25 23:55] #2219 closed

[2017-08-26 04:16] apayani opened #2261 "step function for Recurrence"
I am trying to use a custom step function for the Recurrence function , but any function I feed I get some kind of error. For example this simple python function :
def fn(h,x):
 return h

y = C.layers.Recurrence(step_function=fn1 , return_full_state=True)( x)

causes this error

File "D:\PROGS\Anaconda3\lib\site-packages\cntk\layers\sequence.py", line 395, in Recurrence
    step_function = _saniti

[2017-08-26 04:24] apayani opened #2262 "stack / unstack"
Is there anyway to do operations like stacking and unstacking ( like those in numpy or Tensorflow ) in CNTK ?
while you can access to a slice in a tensor , there is no obvious solution to modify that slice. Basically, I am looking for operation that can split a tensor in one axis into a list of tensors .
While CNTK syntax and performance is OK , very simple tasks seem impossible .
Another example

[2017-08-26 06:29] frankibem opened #2263 "Tutorials with Video"
Are there any CNTK tutorials that deal with video inputs or any plans to add some?

[2017-08-26 06:53] linzai1992 opened #2264 "Evaluate Bidirectional-LSTM Model Error"
Hi:
When I use the 2.1 c++ version to evaluate my bidirectional-LSTM model, it has the error bellow:

**The delay node tries to access future values that are out of bound, possibly because there is no sentence end marker in the MBLayout.**

But it works well when I use LSTM model to do evaluation.

I am so appreciate if you can give me some advice.

Best Regards
Yunlin

[2017-08-26 06:55] linzai1992 commented on #2264
And  my training is okay,  I also set  **truncated = false**

[2017-08-26 06:57] linzai1992 commented on #2264
@frankseide

[2017-08-26 12:09] xforceco opened #2265 "brainscript image sequence intent classification with lstm"
I modify the script from tutorial
[https://docs.microsoft.com/en-us/cognitive-toolkit/Hands-On-Labs-Language-Understanding](url)
with 3-channel image sequence input

However, after many times of checking and trying, I still got this error:
`EXCEPTION occurred: Node 'z' (Plus operation): ColumnRangeWithMBLayoutFor: FrameRange's dynamic axis is inconsistent with matrix. They are compatible though--a

[2017-08-26 17:27] leangdamang opened #2266 "Issue running A2_RunWithPyModel.py"
Hi,

I keep getting an issue when running the image detection example with the grocery dataset.

After postprocessing I get the issue:

Running CNTK on an AWS instance.

[Output file here](https://github.com/leangdamang/recipe-recommender/blob/master/error01.txt)

[2017-08-26 22:18] cha-zhang commented on #2265
Can you post a repro?

[2017-08-26 22:19] cha-zhang commented on #2263
Have you checked the simple example here: https://github.com/Microsoft/CNTK/tree/master/Examples/Video/GettingStarted

[2017-08-27 00:08] frankibem commented on #2263
@cha-zhang Thanks. I'll look harder next time.

[2017-08-27 00:08] #2263 closed

[2017-08-27 00:10] cha-zhang commented on #2263
We definitely need to add more video examples. If there is any particular model you are interested in, let us know.

[2017-08-27 04:14] wendy7707 commented on #1259
@mortengryning hello, thank you for your reply, I have more question,  I'm also using based on @pkranen branch, which doesn't actually give me any ROI labels besides 0 (ground). May I ask what is the problem? Thanks!

[2017-08-27 04:16] wendy7707 commented on #1259
@harewei I have the same problem with you ,would you please tell me how to solve it, thank you very much!

[2017-08-27 07:08] wendy7707 commented on #1079
@pmfcdb  hello, I have one question, when I used the C# coding to evaluate the model, it just output as the following :"Number of background ROIs: 100", and I see the results of "outputs = model.Evaluate(inputs, outDims.First().Key)" are always the same. Would you please tell me how to solve this problem, thank you very much!

[2017-08-27 07:15] wendy7707 commented on #1155
@mortengryning I have the same problem, have you solved it? Would you please tell me how to solve it? thanks.

[2017-08-27 07:22] wendy7707 commented on #1259
@Quethrosar Hello, I have the same problem with @harewei , would you please tell me how to solve it, thank you very much!

[2017-08-27 08:27] ivan-alles commented on #2256
Thank you for your suggestion. It works.

While implemented this, I found out something that was not obvious to me. I need to upscale a tensor with the shape `num_channels x height x width`. The result will be a tensor of `num_channels x 2*height x 2*width.`
What I actually need is just to resize each channel as a 2d image by a factor of 2. I expected to have one deconvolution kernel of shape `4x4

[2017-08-27 09:18] ivan-alles commented on #2200
Is it possible to get attributes from a UserFunction? I now get empty dictionaries:

[code]

[2017-08-27 12:21] xforceco commented on #2265
[https://github.com/xforceco/cntk_issue/blob/master/test.cntk](url)

Line 18 causes the problem

[2017-08-27 12:42] xforceco commented on #2265
I am sorry about all inconvenience caused.
This is due to mistakes in my input file:
intent label should only appear once in every sequence

Issue close

[2017-08-27 12:43] #2265 closed

[2017-08-27 15:06] Eomtaesan opened #2267 "error code MSB8013 : This project doesn't contain the Configuration and Platform combination of Release|x64."
Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB8013	This project doesn't contain the Configuration and Platform combination of Release|x64.	Multiverso	C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Microsoft.CppBuild.targets	349

first, window reset
second, install vs2015 with update 3
I followed the Manual (https://docs.microsoft.com/en-us/cognitive-toolkit/Setup-C

[2017-08-27 18:04] Eomtaesan opened #2268 "having an error in Model Evaluation after NuGet Package Setup"
I just try Load Function in main()

DeviceDescriptor device = DeviceDescriptor::GPUDevice ( 0 );
FunctionPtr FS = Function::Load ( L"C:\\repos\\cntk\\Curling\\FS\\Models\\Train.dnn" , device );

Unhandled exception at 0x00007FFBF0F39E08 in Test.exe: Microsoft C++ exception: Microsoft::MSR::CNTK::ExceptionWithCallStack<std::invalid_argument> at memory location 0x000000E0484BF250.

the Train.dnn fil

[2017-08-27 19:25] vidyatshetty commented on #2247
Thank you writing.
Also if i include HTKMLFWriter nothing will be written into output file. Could you please let me know what is the reason.

[2017-08-28 01:39] baozi-lala commented on #2200
when I tried
 `con1.block_root.inputs[0][0].owner.attributes`,
I got
`{u'endIndex': 1L, u'beginIndex': 0L, u'axis': (u'ordered', u'static', 2L)}`
 I guess Because the operation of convolution is activation(w*x+b),in your example ,your last operation is plus.so your outputs is plus operation,while my last operation is activation function so my inputs is plus.  Is there any method that can let me in